<div class="container access container-sm animated fadeInDown">
   <div class="center-block mt-xl">
      <!-- START panel-->
      <div class="panel">
         <div class="panel-body">
            <p class="pv text-bold">ENTRAR</p>
            <form role="form" name="form" class="mb-lg" novalidate>
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group has-feedback mb">
                        <input type="email" placeholder="Email" autocomplete="off" class="form-control" ng-model="login.optin.email" required>
                        <span class="glyphicon glyphicon-envelope form-control-feedback text-muted"></span>
                     </div>
                     <br>
                     <div class="form-group has-feedback">
                        <input type="password" placeholder="Contraseña" class="form-control" ng-model="login.optin.password" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback text-muted" aria-hidden="true"></span>
                     </div>
                      <!--<label class="ceibo-checkbox">
                        <input type="checkbox"><span> Recordarme</span>
                      </label>-->
                  </div>
                  <div class="col-md-6">
                     <button type="submit" class="btn btn-block btn-info mb" ng-click="login.sendCredentials(login.optin)" ng-disabled="form.$invalid || login.loading"><span ng-show="!login.loading">Acceder</span><span ng-show="login.loading"><i class="fa fa-spinner fa-spin"></i> Accediendo...</span></button>
                     <p class="text-muted" style="margin:0">¿No tienes una cuenta todavía?</p>
                     <button ui-sref="auth.register" class="btn btn-block btn-default" ng-disabled="true">
                        <strong>Registrarse</strong>
                     </button>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <!--<div class="text-center mt"><a ui-sref="auth.recover" class="text-muted">¿Olvidó su contraseña?</a>-->
      </div>
      <!-- END panel-->
   </div>
</div>