<div class="container access container-sm animated fadeInDown">
   <div class="center-block mt-xl">
      <!-- START panel-->
      <div class="panel">
         <div class="panel-body">
            <p class="pv text-bold">REGISTRO</p>
            <form role="form" class="mb-lg">
               <div class="row">
                  <div class="col-md-6">
                     <div class="form-group has-feedback">
                        <input id="signupInputEmail1" type="email" placeholder="Email" autocomplete="off" class="form-control">
                        <span class="glyphicon glyphicon-envelope form-control-feedback text-muted"></span>
                     </div>
                     <div class="form-group has-feedback">
                        <input id="signupInputPassword1" type="password" placeholder="Contraseña" autocomplete="off" class="form-control">
                        <span class="glyphicon glyphicon-lock form-control-feedback text-muted"></span>
                     </div>
                     <div class="form-group has-feedback">
                        <input id="signupInputRePassword1" type="password" placeholder="Repetir contraseña" autocomplete="off" class="form-control">
                        <span class="glyphicon glyphicon-lock form-control-feedback text-muted"></span>
                     </div>
                  </div>
                  <div class="col-md-6">
                     <button type="submit" class="btn btn-block btn-primary">Crear cuenta</button>
                     <br>
                     <p class="text-center" style="padding-top:14px;">¿Ya tiene una cuenta?</p>
                     <a ui-sref="auth.login" class="btn btn-block btn-default">
                        <strong>Login</strong>
                     </a>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>