<br>
<div class="row">
  <form class="form-horizontal" role="form">
    <div class="col-md-12">
      <div class="form-group">
        <label for="" class="col-md-1 control-label">Buscar</label>
        <div class="col-md-4">
          <input class="form-control" name="search" type="text" ng-model="search" />
        </div>
      </div>
    </div>
  </form>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-4" ng-repeat="subcategory in list.subcategories | filter: search">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ subcategory.title }}</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <a class="btn btn-primary btn-sm" ng-disabled="list.deleteProcess" ui-sref="app.lc.subcategories.editor({subcategoryId:subcategory.$id})">editar</a>
                <button class="btn btn-danger btn-sm" ng-disabled="list.deleteProcess" data-animation="am-fade-and-slide-top" data-template="scripts/modules/subcategories/views/modal-delete.html" ng-click="list.id = subcategory.$id" bs-modal="modal">eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<br>