<div class="col-md-12">
	<legend ng-show="editor.subcategory.id">Editar subcategoría</legend>
	<legend ng-hide="editor.subcategory.id">Crear subcategoría</legend>
</div>

<form class="form-horizontal" name="form" role="form" novalidate>
  	<label for="" class="col-md-2 control-label">Título</label>
  	<div class="form-group">  		
  		<div class="col-xs-6 col-md-3 col-lg-2">
  			<input type="text" class="form-control" placeholder="" name="title" ng-model="editor.subcategory.title" required/>
  		</div>
  		<div class="col-xs-6 col-md-3 col-lg-2">
  			<!--<select ng-model="editor.subcategory.categorie" ng-options="categorie.title for categorie in editor.categories" class="form-control" required></select>-->
		</div>
  	</div>
	<div class="form-group">
		<div class="col-md-12">
			<div class="pull-right">
				<a ui-sref="app.lc.subcategories.list" class="btn btn-default">Cancel</a>
				<button class="btn btn-primary" ng-if="editor.subcategory.id" ng-click="editor.update(editor.subcategory)" ng-disabled="form.$invalid || editor.loading"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar cambios</span></button>
				<button class="btn btn-primary" ng-if="!editor.subcategory.id" ng-click="editor.save(editor.subcategory)" ng-disabled="form.$invalid || editor.loading"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar</span></button>
			</div>
		</div>
	</div>
</form>