<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <a ng-click="revenue.setToday();" class="dashboard-stat bgr-primary flipInX" style="cursor:pointer;">
            <div class="visual">
              <i class="fa fa-money"></i>
            </div> <!-- /.visual -->

            <div class="details">
              <span class="content">Ingresos de hoy</span>
              <span class="value">{{revenue.revenueToday | numberToPesos }}</span>
            </div> <!-- /.details -->
          <i class="fa fa-play-circle more"></i>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a ng-click="revenue.setWeek();" class="dashboard-stat bgr-warning flipInX" style="cursor:pointer;">
            <div class="visual">
              <i class="fa fa-money"></i>
            </div> <!-- /.visual -->

            <div class="details">
              <span class="content">Ingresos de la semana</span>
              <span class="value">{{revenue.revenueWeek | numberToPesos }}</span>
            </div> <!-- /.details -->
          <i class="fa fa-play-circle more"></i>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a ng-click="revenue.setMonth();" class="dashboard-stat bgr-success flipInX" style="cursor:pointer;">
            <div class="visual">
              <i class="fa fa-money"></i>
            </div> <!-- /.visual -->

            <div class="details">
              <span class="content">Ingresos del mes</span>
              <span class="value">{{revenue.revenueMonth | numberToPesos }}</span>
            </div> <!-- /.details -->
          <i class="fa fa-play-circle more"></i>
        </a>
      </div>
      <div class="col-md-3 col-sm-6">
        <a ng-click="revenue.setTotal();" class="dashboard-stat bgr-info flipInX" style="cursor:pointer;">
            <div class="visual">
              <i class="fa fa-money"></i>
            </div> <!-- /.visual -->

            <div class="details">
              <span class="content">Ingresos totales</span>
              <!-- Revenue -->
              <span class="value">{{revenue.revenueTotal | numberToPesos }}</span>
            </div> <!-- /.details -->
          <i class="fa fa-play-circle more"></i>
        </a>
      </div>
    </div>
  </div>
</div>

  <!--<div style="margin:0 auto">
    <div date-range start="revenue.start" end="revenue.end"></div>
  </div>-->

  <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <i class="fa fa-th"></i> Lista de Ingresos {{revenue.label}}
          <!-- Export options dropdown -->
          <div class="row pull-right" style="margin-right: 5px;">
              <div class="dropdown">
                  <button class="btn btn-xs btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-title="Exportar" data-container="body" data-placement="top" bs-tooltip>
                      <i class=" fa fa-download"></i></span>
                  </button>

                  <ul class="table-export dropdown-menu"
                  table-selector="'auxTable'"
                  export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'Lista de Ingresos de hoy' }"
                  aria-labelledby="dropdownMenu1"
                  style="min-width: 60px;">
                      <li te-option te-value="'pdf'" te-param="'type'">
                          <a href="">PDF</a>
                      </li>

                      <li te-option te-value="'excel'" te-param="'type'">
                          <a href="">Excel</a>
                      </li>

                      <li te-option te-value="'csv'" te-param="'type'">
                          <a href="">CSV</a>
                      </li>
                  </ul>
              </div>
          </div>
        </strong>
      </div>
      <table st-table="revenue.list" st-filtered-collection="filteredCollection" class="table table-striped" st-safe-src="revenue.rowCollection">
          <thead>
              <tr>
                  <th>Tipo</th>
                  <th st-sort="date.fullDate">Fecha</th>
                  <th>Hora</th>
                  <th>Total</th>
                  <th class="text-center">Acciones</th>
              </tr>
              <tr>
                <th colspan="6">
                  <input st-search placeholder="búsqueda global..." class="input-sm form-control" type="search"/>
                </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="revenue in revenue.list">
                <td>
                  <span class="label" ng-class="{'label-success': revenue.type == 'sale', 'label-danger': revenue.type == 'expense'}">
                    <span ng-show="revenue.type == 'sale'">Venta</span>
                    <span ng-show="revenue.type == 'expense'">Compra</span>
                  </span>
                </td>
                <td>{{revenue.date.fullDate}}</td>
                <td>{{revenue.date.hour}}:{{revenue.date.minutes}}</td>
                <td>
                  <span ng-show="revenue.type == 'expense'">-</span>{{revenue.total | numberToPesos }}
                </td>
                <td class="text-center">
                  <span ng-if="revenue.type == 'sale'">
                    <a ui-sref="app.lc.sales.editor({saleId:revenue.$id,state:revenue.status})" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="ver" data-container="body" bs-tooltip>
                      <i class="fa fa-eye"></i>
                    </a>
                  </span>
                </td>
            </tr>
          </tbody>
          <tfoot>
                <td colspan="6" class="text-center">
                  <div st-items-by-page="20" st-pagination=""></div>
                </td>
          </tfoot>
      </table>

      <!-- Auxiliar Table with All the content to export -->
      <table id="auxTable" style="opacity: 0; position: absolute;">
          <thead>
              <tr>
                  <th>Tipo</th>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Total</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="revenue in filteredCollection">
                <td>
                  <span class="label" ng-class="{'label-success': revenue.type == 'sale', 'label-danger': revenue.type == 'expense'}">
                    <span ng-show="revenue.type == 'sale'">Venta</span>
                    <span ng-show="revenue.type == 'expense'">Compra</span>
                  </span>
                </td>
                <td>{{revenue.date.fullDate}}</td>
                <td>{{revenue.date.hour}}:{{revenue.date.minutes}}</td>
                <td>
                  <span ng-show="revenue.type == 'expense'">-</span>{{revenue.total | numberToPesos }}
                </td>
            </tr>
          </tbody>
      </table>

  </div>
