<label class="control-label col-md-2">{{options.templateOptions.label}}</label>
<div class="col-sm-8 col-lg-7">
	<label class="ceibo-checkbox">
		<input type="checkbox" ng-model="model[options.key]"><i></i>
	</label>
</div>