<div class="input-group">
	<input type="text" class="form-control" ng-model="newSubcategory" name="subcategory" bs-options="subcategory.title for subcategory in ctrl.subcategories" bs-typeahead>
	<div class="input-group-btn">
		<button type="button" class="btn btn-success" ng-click="ctrl.addSubcategory(newSubcategory); newSubcategory = {};" ng-disabled="!newSubcategory.title || ctrl.checkRepeat(newSubcategory.title) || ctrl.disabled"><i class="fa fa-plus"></i>&nbsp;Añadir</button>
	</div>
</div>

<div class="form-group" ng-show="ctrl.model.length" style="margin-top:10px;">
	<div class="col-md-12">
		<div class="category-list" ng-repeat="subcategory in ctrl.model track by $index">
			<div class="btn-group" ng-show="subcategory">
				<button type="button" class="btn">{{subcategory.title}}</button>
				<button type="button" class="btn btn-danger" ng-click="ctrl.removeSubcategory(subcategory)"><i class="fa fa-trash-o"></i></button>
			</div>
		</div>
	</div>
</div>