<div class="input-group">
	<input type="text" class="form-control" ng-model="newCategory" name="category" bs-options="category.title for category in ctrl.categories" bs-typeahead>
	<div class="input-group-btn">
		<button type="button" class="btn btn-success" ng-click="ctrl.addCategory(newCategory); newCategory = {};" ng-disabled="!newCategory.title || ctrl.checkRepeat(newCategory.title)"><i class="fa fa-plus"></i>&nbsp;Añadir</button>
	</div>
</div>

<div class="form-group" ng-show="ctrl.model.length" style="margin-top:10px;">
	<div class="col-md-12">
		<div class="category-list" ng-repeat="category in ctrl.model track by $index">
			<div class="btn-group" ng-show="category">
				<button type="button" class="btn">{{category.title}}</button>
				<button type="button" class="btn btn-danger" ng-click="ctrl.removeCategory(category)"><i class="fa fa-trash-o"></i></button>
			</div>
		</div>
	</div>
</div>