<div class="row">
	<div class="col-xs-12">
		<div class="upload-area">
			<div class="thumbnail">
				<img ng-src="{{photoUploader.photoUrl || '//:0'}}">
			</div>
			<div>
				<br>
				<button type="button" ngf-select ngf-change="photoUploader.upload()" accept="photoUploader.validate($file)" ng-model="photoUploader.file" class="btn btn-sm btn-primary"><span ng-show="!photoUploader.photoUrl">Subir</span><span ng-show="photoUploader.photoUrl">cambiar</span></button>
				<button ng-show="photoUploader.photoUrl" type="button" ng-click="photoUploader.deleteFile(photoUploader.photoId)" class="btn btn-sm btn-danger">Eliminar</button>
			</div>
		</div>
	</div>
</div>
