<div class="row">
	<div class="col-xs-12">
		<div class="upload-area">
			<div class="thumbnail large">
				<img ng-src="{{photoUploader.photoSliderUrl || '//:0'}}">
			</div>
			<div>
				<br>
				<button type="button" ngf-select ngf-change="photoUploader.uploadSlider()" accept="photoUploader.validate($file)" ng-model="photoUploader.file" class="btn btn-sm btn-primary"><span ng-show="!photoUploader.photoSliderUrl">Subir</span><span ng-show="photoUploader.photoSliderUrl">cambiar</span></button>
				<button ng-show="photoUploader.photoSliderUrl" type="button" ng-click="photoUploader.deleteFile(photoUploader.photoSliderId)" class="btn btn-sm btn-danger">Eliminar</button>
			</div>
		</div>
	</div>
</div>
