  <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <i class="fa fa-th"></i> Lista de compras
          <span class="btn btn-xs btn-success pull-right" ui-sref="app.lc.economy.shoppings.create" data-title="Añadir" data-container="body" data-placement="top" bs-tooltip><i class=" fa fa-plus"></i></span>
          <!-- Export options dropdown -->
          <div class="row pull-right" style="margin-right: 5px;">
              <div class="dropdown">
                  <button class="btn btn-xs btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-title="Exportar" data-container="body" data-placement="top" bs-tooltip>
                      <i class=" fa fa-download"></i></span>
                  </button>

                  <ul class="table-export dropdown-menu"
                  table-selector="'auxTable'"
                  export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'Lista de compras' }"
                  aria-labelledby="dropdownMenu1"
                  style="min-width: 60px;">
                      <li te-option te-value="'pdf'" te-param="'type'">
                          <a href="">PDF</a>
                      </li>

                      <li te-option te-value="'excel'" te-param="'type'">
                          <a href="">Excel</a>
                      </li>

                      <li te-option te-value="'csv'" te-param="'type'">
                          <a href="">CSV</a>
                      </li>
                  </ul>
              </div>
          </div>

        </strong>
      </div>
      <table st-table="list.shoppings" st-filtered-collection="filteredCollection" class="table table-striped">
          <thead>
              <tr>
                  <th>Proveedor</th>
                  <th>Factura</th>
                  <th>Productos</th>
                  <th>Fecha</th>
                  <th>Total</th>
                  <th class="text-center">Acciones</th>
              </tr>
              <tr>
                <th colspan="7">
                  <input st-search placeholder="búsqueda global..." class="input-sm form-control" type="search"/>
                </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="shopping in list.shoppings">
                <td>
                  <span class="label label-info">
                    <vendors-displayer id="shopping.vendor" service='list.vendorsService' vendor-key="'name'" service-as-promise="true"></vendors-displayer>
                  </span>
                </td>
                <td>{{ shopping.invoice }}</td>
                <td>{{ shopping.products.length }}</td>
                <td >{{ shopping.date.calendar }}</td>
                <td>${{ shopping.total }}</td>
                <td class="text-center">
                    <a ui-sref="app.lc.economy.shoppings.editor({shoppingId:shopping.$id})" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="editar" data-container="body" bs-tooltip>
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                </td>
            </tr>
          </tbody>
          <tfoot ng-show="list.shoppings.length >= 20">
                <td colspan="7" class="text-center">
                  <div st-items-by-page="20" st-pagination></div>
                </td>
          </tfoot>
      </table>

      <!-- Auxiliar Table with All the content to export -->
      <table id="auxTable" style="opacity: 0; position: absolute;">
          <thead>
              <tr>
                  <th>Proveedor</th>
                  <th>Factura</th>
                  <th>Productos</th>
                  <th>Fecha</th>
                  <th>Total</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="shopping in filteredCollection">
                <td>
                  <span class="label label-info">
                    <vendors-displayer id="shopping.vendor" service='list.vendorsService' vendor-key="'name'" service-as-promise="true"></vendors-displayer>
                  </span>
                </td>
                <td>{{ shopping.invoice }}</td>
                <td>{{ shopping.products.length }}</td>
                <td >{{ shopping.date.calendar }}</td>
                <td>${{ shopping.total }}</td>
            </tr>
          </tbody>
      </table>

  </div>
