<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Eliminar compra</h4>
      </div>
      <div class="modal-body">

      <div class="alert alert-danger" role="alert">
        El proceso de eliminación es irreversible. ¿Está seguro que desea eliminar esta compra?
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="shopping.delete(shopping.product); $hide()">Eliminar</button>
      </div>
    </div>
  </div>
</div>