<form role="form" class="form-horizontal" name="form" novalidate>

<div class="col-md-12">
<span ng-show="!shopping.product.$id"><h4>Cargar nueva compra</h4></span>
<span ng-show="shopping.product.$id"><h4>Editar compra <button type="button" class="btn btn-danger pull-right" ng-disabled="shopping.loading || shopping.deleting" data-animation="am-fade-and-slide-top" data-container="body" data-template-url="scripts/modules/economy/views/shoppings/modal-delete.html" bs-modal="modal">Eliminar</button></h4>
</span>
</div>

	<div class="form-group" ng-class="{ 'has-error' :  form.vendor.$touched && !shopping.product.vendor }">
		<label for="" class="col-md-2 control-label">Proveedor</label>
		<div class="col-md-5">
			<vendors-autocomplete id="shopping.product.vendor" service='shopping.vendorsService' service-as-promise="true" model="shopping.product.vendor" vendors="shopping.vendors" required="true"></vendors-autocomplete>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.vendor.$invalid && form.vendor.$touched">Proveedor requerido.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' :  form.invoice.$touched && !shopping.product.invoice }">
		<label for="" class="col-md-2 control-label">Id de factura</label>
		<div class="col-md-5">
			<input type="text" class="form-control" name="invoice" ng-model="shopping.product.invoice" required></input>
      <div class="my-messages">
        <div class="some-message">
          <span ng-show="form.invoice.$invalid && form.invoice.$touched">Factura requerida.</span>
        </div>
      </div>
		</div>
	</div>

  <div class="form-group">
    <label for="" class="col-md-2 control-label">Imagen</label>
    <div class="col-md-5">
      <div>
        <product-photo product-id="shopping.product.id" photo-id="shopping.product.photoId" photo-url="shopping.product.photoUrl"></product-photo>
      </div>
    </div>
  </div>


	 <div class="panel panel-default">
      <div class="panel-heading">
        <strong><i class="fa fa-th"></i> Detalle de la compra</strong> <span class="btn btn-xs btn-success pull-right" ng-click="shopping.addElement(shopping.product.products, {})" ng-disabled="shopping.editMode" data-title="Añadir" data-container="body" data-placement="top" bs-tooltip><i class=" fa fa-plus"></i></span>
      </div>
      <table st-table="shopping.product.products" class="table table-striped">
          <thead>
              <tr>
                  <th>Producto</th>
                  <th>Código de proveedor</th>
                  <th>Código de barras</th>
                  <th>Marca</th>
                  <th>Cantidad</th>
                  <th>Tipo</th>
                  <th>Precio unitario</th>
                  <th>Total</th>
                  <th class="text-center">Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="items in shopping.product.products track by $index">
				<th>
          <span ng-show="!shopping.editMode || shopping.editing !== {{$index}}">
            <span ng-show="items.product.title">{{ items.product.title }}</span>
            <span ng-show="!items.product.title && !items.product.$id">{{ items.product }}</span>
          </span>

          <products-autocomplete ng-show="shopping.editMode && shopping.editing == {{$index}}" id="items.product" service='shopping.productsService' service-as-promise="true" ng-model="items.product" products="shopping.products" required="true"></products-autocomplete>
        </th>

        <!--  -->
        <th><span ng-show="!shopping.editMode || shopping.editing !== {{$index}}">{{ items.vendorCode }}</span><input ng-show="shopping.editMode && shopping.editing == {{$index}}" type="text" min="0" class="form-control" placeholder="" ng-model="items.vendorCode" style="width:75px" required></th>

        <th>
          <span ng-show="!shopping.editMode || shopping.editing !== {{$index}}">{{ items.ean }}</span>
          <input
            ng-show="shopping.editMode && shopping.editing == {{$index}}"
            ng-change="shopping.findProduct(items.ean, $index)"
            type="text"
            min="0"
            class="form-control"
            placeholder=""
            ng-model="items.ean"
            style="width:75px"
            required
          >
        </th>

        <!--  -->

        <th><span ng-show="!shopping.editMode || shopping.editing !== {{$index}}"><span ng-show="items.brand.title">{{ items.brand.title }}</span><span ng-show="!items.brand.title">{{ items.brand }}</span></span><brands-autocomplete ng-show="shopping.editMode && shopping.editing == {{$index}}" id="items.brand" service='shopping.brandsService' service-as-promise="true" model="items.brand" brands="shopping.brands" required="true"></brands-autocomplete>
        </th>

				<th><span ng-show="!shopping.editMode || shopping.editing !== {{$index}}">{{ items.quantity }}</span><input ng-show="shopping.editMode && shopping.editing == {{$index}}" type="number" min="0" class="form-control" placeholder="" ng-model="items.quantity" ng-change="shopping.setTotal(items.price, items.quantity, items)" style="width:75px" required></th>

        <th><span ng-show="!shopping.editMode || shopping.editing !== {{$index}}">{{ items.type.value }}</span><button ng-show="shopping.editMode && shopping.editing == {{$index}}" type="button" class="btn btn-default" ng-model="items.type" placeholder="Tipo..." bs-options="type.value for type in shopping.selectType" bs-select>
        </button></th>

				<th><span ng-show="!shopping.editMode || shopping.editing !== {{$index}}">{{ items.price }}</span><input ng-show="shopping.editMode && shopping.editing == {{$index}}" type="number" min="0" class="form-control" placeholder="" ng-model="items.price" ng-change="shopping.setTotal(items.price, items.quantity, items)" style="width:75px" required></th>

				<th><span ng-show="!shopping.editMode || shopping.editing !== {{$index}}">${{ items.total }}</span><input ng-show="shopping.editMode && shopping.editing == {{$index}}" type="number" min="0" class="form-control" placeholder="" ng-model="items.total" style="width:75px" disabled required></th>

                <td class="text-center">
                  <span ng-show="!shopping.editMode || shopping.editing !== {{$index}}">
                    <button ng-click="shopping.edit(); shopping.editInline(items)" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="editar" data-container="body" ng-disabled="shopping.editMode && shopping.editing !== {{$index}}" bs-tooltip>
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button ng-click="shopping.removeElement(shopping.product.products, items)" class="btn btn-sm btn-danger" ng-disabled="shopping.editMode && shopping.editing !== {{$index}}" data-animation="am-fade-and-scale" data-title="eliminar" data-container="body" bs-tooltip>
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </span>
                  <span ng-show="shopping.editMode && shopping.editing == {{$index}}">
                    <button ng-click="shopping.saveField({{$index}}, shopping.sale);" class="btn btn-sm btn-success" ng-disabled="!items.product || !items.brand || !items.quantity || !items.type || !items.price || !items.total" data-animation="am-fade-and-scale" data-title="guardar" data-container="body" bs-tooltip>
                      <i class="fa fa-check"></i>
                    </button>
                    <button ng-click="shopping.cancel(items, {{$index}});" class="btn btn-sm btn-warning" data-animation="am-fade-and-scale" data-title="cancelar" data-container="body" bs-tooltip>
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </td>
            </tr>
          </tbody>
          <tfoot>
                <!-- <td colspan="7" class="text-center">
                  <div st-items-by-page="20" st-pagination=""></div>
                </td> -->
          </tfoot>
      </table>
    </div>

  <div class="form-group">
    <div class="pull-right">
      <div class="col-xs-12">
        <span class="btn btn-default" ui-sref="app.lc.economy.shoppings.list">Cancelar</span>

        <button ng-show="!shopping.product.$id" class="btn btn-primary" ng-click="shopping.create(shopping.product)" ng-disabled="form.$invalid || shopping.loading || !shopping.product.products.length || shopping.editMode"><span ng-show="shopping.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!shopping.loading">Guardar</span></button>

        <button ng-show="shopping.product.$id" class="btn btn-primary" ng-click="shopping.update(shopping.product)" ng-disabled="form.$invalid || shopping.loading || !shopping.product.products.length || shopping.editMode || shopping.deleting"><span ng-show="shopping.loading"><i class="fa fa-spinner fa-spin"></i> Actualizando...</span><span ng-show="!shopping.loading">Actualizar</span></button>
      </div>
    </div>
  </div>

</form>
