<form role="form" class="form-horizontal" name="form" novalidate>

  <div class="form-group">
    <label for="" class="col-md-2 control-label">Fotos</label>
    <div class="col-md-10">
      <list-photo model="editor.about.images" list-url="editor.about.images.imagesUrl" list-id="editor.about.images.imagesId" object="editor.about"></list-photo>
    </div>
  </div>

  <div class="form-group">
    <label for="" class="col-md-2 control-label">Historia</label>
    <div class="col-md-10">
      <textarea type="text" class="form-control" froala="editor.froalaOptions" ng-model="editor.about.description" />
    </div>
  </div>

  <div class="form-group">
    <div class="pull-right">
      <div class="col-xs-12">
        <button class="btn btn-primary" ng-if="editor.about.id" ng-click="editor.aboutUpdate(editor.about)" ng-disabled="form.$invalid"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar cambios</span></button>
        <button class="btn btn-primary" ng-if="!editor.about.id" ng-click="editor.aboutCreate(editor.about)" ng-disabled="form.$invalid"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar</span></button>
      </div>
    </div>
  </div>
</form>