<section class="panel panel-default">
	<div class="panel-heading"><strong><span class="fa fa-upload"></span> Importar archivo XLSX</strong></div>
	<div class="panel-body">
		<form class="form form-horizontal" role="form" name="form" ng-submit="importP.uploadFile()" novalidate>
			<div class="form-group">
				<div class="col-md-5 col-sm-6 col-sm-offset-4" style="">
					<input ng-show="!importP.loading" type="file" file-model accept=".xlsx" name="upload-file" class="form-control" ng-model="importP.file" required>
					<span ng-show="importP.loading"><i class="fa fa-spinner fa-spin"></i> Por favor espere, el archivo está siendo procesado...</span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-12">
				   <div class="pull-right">
						<button type="submit" class="btn btn-primary" ng-disabled="form.$invalid || importP.loading">Subir</button>
				   </div>
				</div>
			</div>
		</form>
	</div>
</section>