<div>
  <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <i class="fa fa-th"></i> Lista de productos
          <span class="btn btn-xs btn-success pull-right" ui-sref="app.lc.products.create" data-title="Añadir" data-container="body" data-placement="top" bs-tooltip><i class=" fa fa-plus"></i></span>
          <span class="btn btn-xs btn-primary pull-right" style="margin-right:5px" ui-sref="app.lc.products.import" data-title="Importar" data-container="body" data-placement="top" bs-tooltip><i class=" fa fa-upload"></i></span>
          <!-- Export options dropdown -->
          <div class="row pull-right" style="margin-right: 5px;">
              <div class="dropdown">
                  <button class="btn btn-xs btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-title="Exportar" data-container="body" data-placement="top" bs-tooltip>
                      <i class=" fa fa-download"></i></span>
                  </button>

                  <ul class="table-export dropdown-menu"
                  table-selector="'auxTable'"
                  export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'Lista de productos' }"
                  aria-labelledby="dropdownMenu1"
                  style="min-width: 60px;">
                      <li te-option te-value="'pdf'" te-param="'type'">
                          <a href="">PDF</a>
                      </li>

                      <li te-option te-value="'excel'" te-param="'type'">
                          <a href="">Excel</a>
                      </li>

                      <li te-option te-value="'csv'" te-param="'type'">
                          <a href="">CSV</a>
                      </li>
                  </ul>
              </div>
          </div>
        </strong>
      </div>
      <table st-table="list.products" st-filtered-collection="filteredCollection" class="table table-striped">
          <thead>
              <tr>
                  <th st-sort="title">Nombre</th>
                  <th>Marca</th>
                  <th class="hidden-xs" st-sort="price">Precio</th>
                  <th st-sort="stock">Stock</th>
                  <th class="hidden-xs">Proveedor</th>
                  <th class="hidden-xs">Categoría</th>
                  <th class="hidden-xs">Subategoría</th>
                  <th st-sort="status" st-sort-default="reverse">Estado</th>
                  <th class="text-center">Acciones</th>
              </tr>
              <tr>
                <th colspan="10">
                  <input st-search placeholder="búsqueda global..." class="input-sm form-control" type="search"/>
                </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="product in list.products">
                <td>{{ product.title }}</td>
                <td><brands-displayer id="product.brand" service='list.brandsService' brand-key="'title'" service-as-promise="true"></brands-displayer></td>
                <td>${{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td class="hidden-xs">
                  <span class="label label-info"><vendors-displayer id="product.vendor" service='list.vendorsService' vendor-key="'name'" service-as-promise="true"></vendors-displayer></span>
                </td>
                <td class="hidden-xs">
                  <div ng-repeat="category in product.categories track by $index">
                      <span class="label label-info">
                        <categories-displayer id="category" service='list.categoriesService' category-key="'title'" service-as-promise="true"></categories-displayer>
                      </span>
                  </div>
                </td>
                <td class="hidden-xs">
                  <div ng-repeat="subcategory in product.subcategories track by $index" ng-if="product.subcategories.length">
                      <span class="label label-info">
                        <subcategories-displayer id="subcategory" service='list.subcategoriesService' subcategory-key="'title'" service-as-promise="true"></subcategories-displayer>
                      </span>
                  </div>
                  <div ng-if="!product.subcategories.length">
                    <span class="label label-info">
                      Sin subcategoría
                    </span>
                  </div>
                </td>
                <td>
                  <div>
                    <span ng-if="product.publish" class="label label-success">
                      Publicado
                    </span>
                  </div>
                  <div>
                    <span ng-if="!product.publish" class="label label-warning">
                      Pendiente
                    </span>
                  </div>
                  <span ng-if="product.highlight" class="label label-primary">
                    Destacado
                  </span>
                </td>
                <td class="text-center">
                    <a ui-sref="app.lc.products.editor({productId:product.$id,state:product.status})" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="editar" data-container="body" bs-tooltip>
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                </td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="10" class="text-center">
              <div st-items-by-page="20" st-pagination=""></div>
            </td>
          </tfoot>
      </table>

      <!-- Auxiliar Table with All the content to export -->
      <table id="auxTable" style="opacity: 0; position: absolute;">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Marca</th>
                  <th>Precio</th>
                  <th>Stock</th>
                  <th>Proveedor</th>
                  <th>Categoría</th>
                  <th>Subategoría</th>
                  <th>Estado</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="product in filteredCollection">
                <td>{{ product.title }}</td>
                <td><brands-displayer id="product.brand" service='list.brandsService' brand-key="'title'" service-as-promise="true"></brands-displayer></td>
                <td>${{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td class="hidden-xs">
                  <span class="label label-info"><vendors-displayer id="product.vendor" service='list.vendorsService' vendor-key="'name'" service-as-promise="true"></vendors-displayer></span>
                </td>
                <td class="hidden-xs">
                  <div ng-repeat="category in product.categories track by $index">
                      <span class="label label-info">
                        <categories-displayer id="category" service='list.categoriesService' category-key="'title'" service-as-promise="true"></categories-displayer>
                      </span>
                  </div>
                </td>
                <td class="hidden-xs">
                  <div ng-repeat="subcategory in product.subcategories track by $index" ng-if="product.subcategories.length">
                      <span class="label label-info">
                        <subcategories-displayer id="subcategory" service='list.subcategoriesService' subcategory-key="'title'" service-as-promise="true"></subcategories-displayer>
                      </span>
                  </div>
                  <div ng-if="!product.subcategories.length">
                    <span class="label label-info">
                      Sin subcategoría
                    </span>
                  </div>
                </td>
                <td>
                  <div>
                    <span ng-if="product.publish" class="label label-success">
                      Publicado
                    </span>
                  </div>
                  <div>
                    <span ng-if="!product.publish" class="label label-warning">
                      Pendiente
                    </span>
                  </div>
                  <span ng-if="product.highlight" class="label label-primary">
                    Destacado
                  </span>
                </td>
            </tr>
          </tbody>
      </table>

  </div>
</div>
