<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title">Eliminar <span ng-if="!editor.selectedFromCkeckbox.length">{{editor.rowCollection.length}}</span><span ng-if="editor.selectedFromCkeckbox.length">{{editor.selectedFromCkeckbox.length}}</span> productos</h4>
      </div>
      <div class="modal-body">

      <div class="alert alert-danger" role="alert">
        El proceso de eliminación es irreversible. ¿Está seguro que desea eliminar estos (<span ng-if="!editor.selectedFromCkeckbox.length">{{editor.rowCollection.length}}</span><span ng-if="editor.selectedFromCkeckbox.length">{{editor.selectedFromCkeckbox.length}}</span>) productos?
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="editor.delete(); $hide()">Eliminar</button>
      </div>
    </div>
  </div>
</div>