<div style="margin-top:20px;">	
	<div class="form-group col-md-3 text-center">
		<div class="row">
			<button type="button" id="test1" class="btn btn-default" ng-model="editor.selectedBrand" placeholder="Seleccionar Marca" bs-options="brand.title for brand in editor.brands" ng-change="editor.filterProducts()" bs-select>
				<span class="caret"></span>
			</button>
		</div>
	</div>

	<div class="form-group col-md-3 text-center">
		<div class="row">
			<button type="button" id="test1" class="btn btn-default" ng-model="editor.selectedVendor" placeholder="Seleccionar proveedor" bs-options="vendor.name for vendor in editor.vendors" ng-change="editor.filterProducts()" bs-select>
				<span class="caret"></span>
			</button>
		</div>
	</div>

	<div class="form-group col-md-3 text-center">
		<div class="row">
			<button type="button" id="test1" class="btn btn-default" ng-model="editor.selectedCategory" placeholder="Seleccionar categoría" bs-options="category.title for category in editor.categories" ng-change="editor.filterProducts()" bs-select>
				<span class="caret"></span>
			</button>
		</div>
	</div>

	<div class="form-group col-md-3 text-center">
		<div class="row">
			<button class="btn btn-primary" ng-click="editor.reset()" ng-disabled="!editor.selectedVendor && !editor.selectedCategory && !editor.selectedBrand || editor.loading || editor.deleting"> Reiniciar filtros</button>
		</div>
	</div>
</div>

<form name="form" role="form" class="form-horizontal" novalidate>

		<div class="col-sm-12" style="margin: 30px 0 30px 0;">
			<div class="form-group">
				<div class="radio col-sm-4 col-xs-12 text-right text-center-xs" style="margin: 0 0 10px 0;">
					<label class="ceibo-radio">
						<input type="radio" name="fixed" value="fixed" ng-model="editor.type"> <span>Precio fijo</span>
					</label>
					<label class="ceibo-radio">
						<input type="radio" name="percentage" value="percentage" ng-model="editor.type"> <span>Porcentaje</span>
					</label>
				</div>

				<div class="col-sm-4 col-xs-12" style="margin: 0 0 10px 0;">
					<div class="input-group">
						<span class="input-group-addon"><span ng-show="editor.type == 'fixed'">$</span><span ng-show="editor.type == 'percentage'">%</span></span>
						<input type="number" class="form-control" placeholder="" ng-model="editor.priceToUpdate" required></input>
					</div>
				</div>

				<div class="col-sm-2 col-md-1 col-xs-12 text-left text-center-xs">
					<button ng-click="editor.update();" class="btn btn-success" ng-disabled="form.$invalid || editor.rowCollection.length == 0 || editor.loading || editor.deleting"> <span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Actualizando...</span><span ng-show="!editor.loading">Actualizar</span></button>
				</div>


        <div class="col-sm-2 col-md-1 col-xs-12 text-left text-center-xs">
          <button class="btn btn-danger" ng-disabled="editor.rowCollection.length == 0 || editor.loading || editor.deleting" data-animation="am-fade-and-slide-top" data-template="scripts/modules/products/views/modal-delete-in-block.html" bs-modal="modal"> <span ng-show="editor.deleting"><i class="fa fa-spinner fa-spin"></i> Eliminando...</span><span ng-show="!editor.deleting">Eliminar</span></button>
        </div>
			</div>
		</div>
</form>

<div class="form-group pull-left">
  <div class="pull-left">
    <label>Productos por página:&nbsp;</label>
    <button type="button" class="btn btn-default" ng-model="editor.itemsByPage" ng-change="editor.setItemsByPage()" bs-options="items.value for items in editor.selectItems" placeholder="Productos por página..." bs-select>
      Action <span class="caret"></span>
    </button>
  </div>

   <div class="dropdown pull-left" style="margin-left: 15px;">
       <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
           <i class=""></i>Exportar tabla como...
           <span class="caret"></span>
       </button>
       <ul class="table-export dropdown-menu" table-selector="'table'" export-options="{type: 'pdf', escape: true, ignoreColumn : '[7,8]', tableName: 'Productos', pdfFontSize:10, pdfLeftMargin:0 }" aria-labelledby="dropdownMenu1">
           <li te-option te-value="'pdf'" te-param="'type'">
               <a href="#">PDF</a>
           </li>
           <li te-option te-value="'excel'" te-param="'type'">
               <a href="#">Excel</a>
           </li>

           <li te-option te-value="'csv'" te-param="'type'">
               <a href="#">CSV</a>
           </li>
       </ul>
   </div>
</div>

<div class="col-xs-12">
  <div class="panel panel-default row">
      <div class="panel-heading">
        <strong><i class="fa fa-th"></i> Lista de productos</strong>
      </div>
      <table st-table="editor.products" class="table table-striped" st-safe-src="editor.rowCollection">
          <thead>
              <tr>
                  <th></th>
                  <th st-sort="title">Nombre</th>
                  <th>Marca</th>
                  <th st-sort="cost">Precio</th>
                  <th st-sort="stock">Stock</th>
                  <th class="hidden-xs">Proveedor</th>
                  <th class="hidden-xs">Categoría</th>
                  <th class="hidden-xs">Subcategoría</th>
                  <th st-sort="status" st-sort-default="reverse">Estado</th>
                  <th class="text-center">Acciones</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="product in editor.products">
                <td><label class="ceibo-checkbox padding-no"><input type="checkbox" type="checkbox" checklist-model="editor.selectedFromCkeckbox" checklist-value="product"><span></span></label></td>
                <td>{{ product.title }}</td>
                <td><brands-displayer id="product.brand" service='editor.brandsService' brand-key="'title'" service-as-promise="true"></brands-displayer></td>
                <td>${{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td class="hidden-xs">
                  <span class="label label-info"><vendors-displayer id="product.vendor" service='editor.vendorsService' vendor-key="'name'" service-as-promise="true"></vendors-displayer></span>
                </td>
                <td class="hidden-xs">
                  <div ng-repeat="category in product.categories track by $index">
                      <span class="label label-info">
                        <categories-displayer id="category" service='editor.categoriesService' category-key="'title'" service-as-promise="true"></categories-displayer>
                      </span>
                  </div>
                </td>
                <td class="hidden-xs">
                  <div ng-repeat="subcategory in product.subcategories track by $index" ng-if="product.subcategories.length">
                      <span class="label label-info">
                        <subcategories-displayer id="subcategory" service='editor.subcategoriesService' subcategory-key="'title'" service-as-promise="true"></subcategories-displayer>
                      </span>
                  </div>
                  <div ng-if="!product.subcategories.length">
                    <span class="label label-info">
                      Sin subcategoría
                    </span>
                  </div>
                </td>
                <td>
                  <div>
                    <span ng-if="product.publish" class="label label-success">
                      Publicado
                    </span>
                  </div>
                  <div>
                    <span ng-if="!product.publish" class="label label-warning">
                      Pendiente
                    </span>
                  </div>
                  <span ng-if="product.highlight" class="label label-primary">
                    Destacado
                  </span>
                </td>
                <td class="text-center">
                    <a ui-sref="app.lc.products.editor({productId:product.$id,state:product.status})" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="editar" data-container="body" bs-tooltip>
                      <i class="fa fa-pencil-square-o"></i>
                    </a> 
                </td>
            </tr>
          </tbody>
          <tfoot>
            <td colspan="10" class="text-center">
              <div st-items-by-page="editor.itemsByPage.value" st-pagination=""></div>
            </td>
          </tfoot>
      </table>
  </div>
</div>