<div class="pull-right" ng-if="editor.product.id">
	<div class="col-xs-12">
		<button type="button" class="btn btn-danger" ng-disabled="editor.loading || editor.deleting" data-animation="am-fade-and-slide-top" data-template-url="scripts/modules/products/views/modal-delete.html" bs-modal="modal">Eliminar</button>
	</div>
</div>

<form name="form" role="form" class="form-horizontal" novalidate>
	<div class="form-group">
		<label class="control-label col-md-2">Publicar</label>
		<div class="col-sm-8">
			<label class="switch">
				<input type="checkbox" ng-model="editor.product.publish"><i></i>
			</label>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-label">
			Destacar
		</label>
		<div class="col-md-8">
			<label class="ceibo-checkbox">
				<input type="checkbox" ng-model="editor.product.highlight"><span></span>
			</label>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-2 control-label">
			Slider
		</label>
		<div class="col-md-8">
			<label class="ceibo-checkbox">
				<input type="checkbox" ng-model="editor.product.slider"><span></span>
			</label>
		</div>
	</div>

	<div class="form-group" ng-show="editor.product.slider">
		<label for="" class="col-md-2 control-label">Imagen slider</label>
		<div class="col-md-5">
			<div>
				<product-photo-slider product-id="editor.product.id" photo-slider-id="editor.product.photoSliderId" photo-slider-url="editor.product.photoSliderUrl"></product-photo-slider>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : (form.ean.$invalid && form.ean.$touched) || (editor.eanFinded && form.ean.$touched) }">
		<label for="" class="col-md-2 control-label">Código de barras</label>
		<div class="col-md-5">
			<input type="number" class="form-control" name="ean" ng-model="editor.product.ean" ng-change="editor.checkEan(editor.product.ean, editor.product);" min="0" minlength="13" maxlength="13" focus-me="true">
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.ean.$touched && form.ean.$error.minlength">13 es la longitud mínima.</span>
					<span ng-show="form.ean.$touched && form.ean.$error.maxlength">13 es la longitud máxima.</span>
					<span ng-show="form.ean.$touched && editor.eanFinded">Codigo de barras existente</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : form.vendorCode.$invalid && form.vendorCode.$touched }">
		<label for="" class="col-md-2 control-label">Código de proveedor</label>
		<div class="col-md-5">
			<input type="text" class="form-control" name="vendorCode" ng-model="editor.product.vendorCode" required>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.vendorCode.$touched && form.vendorCode.$error.required">Código de proveedor requerido.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : form.title.$invalid && form.title.$touched }">
		<label for="" class="col-md-2 control-label">Título</label>
		<div class="col-md-5">
			<input type="text" class="form-control" name="title" ng-model="editor.product.title" required>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.title.$touched && form.title.$error.required">Título requerido.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' :  form.brand.$touched && !editor.product.brand.title }">
		<label for="" class="col-md-2 control-label">Marca</label>
		<div class="col-md-5">
			<brands-autocomplete id="editor.product.brand" service='editor.brandsService' service-as-promise="true" model="editor.product.brand" brands="editor.brands" required="true"></brands-autocomplete>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.brand.$invalid && form.brand.$touched">Marca requerida.</span>
					<span ng-show="!editor.product.brand.title && editor.product.brand.length && form.brand.$touched">Marca no válida.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : form.description.$invalid && form.description.$touched }">
	    <label for="" class="col-md-2 control-label">Descripción</label>
	    <div class="col-md-5">
	      <textarea type="text" rows="4" class="form-control" name="description" ng-model="editor.product.description" required></textarea>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.description.$touched && form.description.$error.required">Descripción requerida.</span>
				</div>
			</div>
	    </div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : form.stock.$invalid && form.stock.$touched }">
		<label for="" class="col-md-2 control-label">Stock</label>
		<div class="col-md-2">
			<input type="number" min="0" class="form-control" name="stock" ng-model="editor.product.stock" required></input>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.stock.$touched && form.stock.$error.required">Stock requerido.</span>
					<span ng-show="form.stock.$touched && form.stock.$error.min">Stock no válido.</span>
				</div>
			</div>
		</div>
		<!--<div class="col-md-2">
			<label class="ceibo-checkbox">
				<input type="checkbox" ng-model="editor.isEgreso"><span></span>¿Egreso?
			</label>
		</div>-->
	</div>

	<!--<div class="form-group" ng-class="{ 'has-error' :  form.vendor.$touched && !editor.product.vendor.name }">
		<label for="" class="col-md-2 control-label">Proveedor</label>
		<div class="col-md-5">
			<input type="text" class="form-control" name="vendor" ng-model="editor.product.vendor" bs-options="vendor.name for vendor in editor.vendors" bs-typeahead required>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.vendor.$invalid && form.vendor.$touched">Proveedor requerido.</span>
					<span ng-show="!editor.product.vendor.name && editor.product.vendor.length && form.vendor.$touched">Proveedor no válido.</span>
				</div>
			</div>
		</div>
	</div>-->


	<div class="form-group" ng-class="{ 'has-error' :  form.vendor.$touched && !editor.product.vendor.name }">
		<label for="" class="col-md-2 control-label">Proveedor</label>
		<div class="col-md-5">
			<vendors-autocomplete id="editor.product.vendor" service='editor.vendorsService' service-as-promise="true" model="editor.product.vendor" vendors="editor.vendors" required="true"></vendors-autocomplete>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.vendor.$invalid && form.vendor.$touched">Proveedor requerido.</span>
					<span ng-show="!editor.product.vendor.name && editor.product.vendor.length && form.vendor.$touched">Proveedor no válido.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : form.cost.$invalid && form.cost.$touched }">
		<label for="" class="col-md-2 control-label">Precio de costo</label>
		<div class="col-md-4">
			<div class="input-group">

<!--<button type="button" class="btn btn-default" ng-model="editor.selectCurrency" ng-change="stat.setFilter()" placeholder="moneda..." bs-options="date.value for date in stat.selectDate" bs-select>
  Action <span class="caret"></span>
</button>-->

				<span class="input-group-addon">$</span>
				<input type="number" min="0" class="form-control" name="cost" ng-model="editor.product.cost" ng-change="editor.setPriceWithProfit()" required></input>
			</div>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.cost.$touched && form.cost.$error.required">Precio de costo requerido.</span>
					<span ng-show="form.cost.$touched && form.cost.$error.min">Precio de costo no válido.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : form.profit_percentage.$invalid && form.profit_percentage.$touched }">
		<label for="" class="col-md-2 control-label">Porcentaje de ganancia</label>
		<div class="col-md-2">
			<div class="input-group">
				<span class="input-group-addon">%</span>
				<input type="number" min="0" class="form-control" name="profit_percentage" ng-model="editor.product.profit_percentage" ng-change="editor.setPriceWithProfit()"></input>
			</div>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.profit_percentage.$touched && form.profit_percentage.$error.min">Porcentaje de ganancia no válido.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : form.price.$invalid && form.price.$touched }">
		<label for="" class="col-md-2 control-label">Precio final</label>
		<div class="col-md-2">
			<div class="input-group">
				<span class="input-group-addon">$</span>
				<input type="number" min="0" class="form-control" name="price" ng-model="editor.product.price" required></input>
			</div>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="form.price.$touched && form.price.$error.required">Precio requerido.</span>
					<span ng-show="form.price.$touched && form.price.$error.min">Precio no válido.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-md-2 control-label">Imagen</label>
		<div class="col-md-5">
			<div>
				<product-photo product-id="editor.product.id" photo-id="editor.product.photoId" photo-url="editor.product.photoUrl"></product-photo>
			</div>
		</div>
	</div>

	<div class="form-group" ng-class="{ 'has-error' : form.category.$touched && !editor.product.categories.length }">
		<label for="" class="col-md-2 control-label">Categorías</label>
		<div class="col-md-5">
			<!--<div class="input-group">
				<input type="text" class="form-control" ng-model="newCategory" name="category" bs-options="category.title for category in editor.categories" bs-typeahead>
				<div class="input-group-btn">
					<button type="button" class="btn btn-success" ng-click="editor.addCategory(newCategory); newCategory = {};" ng-disabled="!newCategory.title"><i class="fa fa-plus"></i>&nbsp;Añadir</button>
				</div>
			</div>-->
			<categories-autocomplete id="editor.product.categories" service='editor.categoriesService' service-as-promise="true" model="editor.product.categories" categories="editor.categories"></categories-autocomplete>
			
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="!editor.product.categories.length && form.category.$touched">Ingrese al menos una categoría.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label for="" class="col-md-2 control-label">Subcategorías</label>
		<div class="col-md-5">
			<subcategories-autocomplete id="editor.product.subcategories" service='editor.subcategoriesService' service-as-promise="true" model="editor.product.subcategories" subcategories="editor.subcategories" disabled="editor.subcategoriesDisabled"></subcategories-autocomplete>
		</div>
	</div>

<!--
	<div class="form-group">
		<div class="col-md-10 col-md-offset-2">
			<div class="category-list" ng-repeat="category in editor.product.categories track by $index">
				<div class="btn-group" ng-show="category">
					<button type="button" class="btn">{{category.title}}</button>
					<button type="button" class="btn btn-danger" ng-click="editor.removeCategory(category)"><i class="fa fa-trash-o"></i></button>
				</div>
			</div>
		</div>
	</div>
-->
<!--

	<div class="form-group" ng-class="{ 'has-error' : form.subcategory.$touched && !editor.product.categories.subcategories.length }">
		<label for="" class="col-md-2 control-label">Subcategorías</label>
		<div class="col-md-5">
			<div class="input-group">
				<input type="text" class="form-control" ng-model="newSubCategory" name="subcategory" bs-options="subcategory for subcategory in editor.categories.sub" bs-typeahead>
				<div class="input-group-btn">
					<button type="button" class="btn btn-success" ng-click="editor.addSubCategory(newSubCategory); newSubCategory = {};" ng-disabled="!newSubCategory.title"><i class="fa fa-plus"></i>&nbsp;Añadir</button>
				</div>
			</div>
			<div class="my-messages">
				<div class="some-message">
					<span ng-show="!editor.product.categories.length && form.category.$touched">Ingrese al menos una categoría.</span>
				</div>
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-10 col-md-offset-2">
			<div class="subCategory-list" ng-repeat="subCategory in editor.product.categories.subcategories track by $index">
				<div class="btn-group">
					<button type="button" class="btn">{{subCategory}}</button>
					<button type="button" class="btn btn-danger" ng-click="editor.removeSubCategory(subcategory)"><i class="fa fa-trash-o"></i></button>
				</div>
			</div>
		</div>
	</div>

 -->
	<div class="form-group">
		<div class="pull-right">
			<div class="col-xs-12">
				<span class="btn btn-default" ui-sref="app.lc.products.list">Cancelar</span>
				<button class="btn btn-primary" ng-if="editor.product.id" ng-click="editor.updateProduct(editor.product)" ng-disabled="form.$invalid || editor.loading || !editor.product.categories.length || !editor.product.brand.title || !editor.product.vendor.name || editor.eanFinded"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar cambios</span></button>
				<button class="btn btn-primary" ng-if="!editor.product.id" ng-click="editor.createProduct(editor.product)" ng-disabled="form.$invalid || editor.loading || !editor.product.categories.length || !editor.product.brand.title || !editor.product.vendor.name || editor.eanFinded"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar</span></button>
			</div>
		</div>
	</div>

</form>