<div class="col-md-12">
	<legend ng-show="editor.category.id">Editar categoría</legend>
	<legend ng-hide="editor.category.id">Crear categoría</legend>
</div>

<form class="form-horizontal" name="form" role="form" novalidate>
	<div class="form-group">
	  	<label for="title" class="col-md-2 control-label">Título</label>
		<div class="col-md-4">
			<input type="text" class="form-control" name="title" ng-model="editor.category.title" required/>
		</div>
  	</div>

	<div class="form-group">
		<label for="" class="col-md-2 control-label">Subcategorías</label>
		<div class="col-md-5">
			<subcategories-autocomplete id="editor.category.subcategories" service='editor.subcategoriesService' service-as-promise="true" model="editor.category.subcategories" subcategories="editor.subcategories"></subcategories-autocomplete>
		</div>
	</div>
		
	<div class="form-group">
		<div class="col-md-12">
			<div class="pull-right">
				<a ui-sref="app.lc.categories.list" class="btn btn-default">Cancel</a>
				<button class="btn btn-primary" ng-if="editor.category.id" ng-click="editor.update(editor.category)" ng-disabled="form.$invalid || editor.loading"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar cambios</span></button>
				<button class="btn btn-primary" ng-if="!editor.category.id" ng-click="editor.save(editor.category)" ng-disabled="form.$invalid || editor.loading"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar</span></button>
			</div>
		</div>
	</div>
</form>