<br>
<div class="row">
  <form class="form-horizontal" role="form">
    <div class="col-md-12">
      <div class="form-group">
        <label for="" class="col-md-1 control-label">Buscar</label>
        <div class="col-md-4">
          <input class="form-control" name="search" type="text" ng-model="search" />
        </div>
      </div>
    </div>
  </form>
</div>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="col-md-4" ng-repeat="category in list.categories | filter: search">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ category.title }}</div>
        <div class="panel-body">
          <div ng-repeat="subCategory in category.subcategories track by $index">
            <span class="label label-primary">
              <subcategories-displayer id="subCategory" service='list.subcategoriesService' subcategory-key="'title'" service-as-promise="true"></subcategories-displayer>
            </span>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="pull-right">
                <a class="btn btn-primary btn-sm" ng-disabled="list.deleteProcess" ui-sref="app.lc.categories.editor({categoryId:category.$id})">editar</a>
                <button class="btn btn-danger btn-sm" ng-disabled="list.deleteProcess" data-animation="am-fade-and-slide-top" data-template="scripts/modules/categories/views/modal-delete.html" ng-click="list.id = category.$id" bs-modal="modal">eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<br>