<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" >
        <button type="button" class="close" ng-click="$hide(); list.id = ''">&times;</button>
        <h4 class="modal-title">Eliminar categoría</h4>
      </div>
      <div class="modal-body">

      <div class="alert alert-danger" role="alert">
        El proceso de eliminación es irreversible. ¿Está seguro que desea eliminar esta categoría?
      </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Cancelar</button>
        <button type="button" class="btn btn-danger" ng-click="list.remove(list.id); $hide(); list.id = ''">Eliminar</button>
      </div>
    </div>
  </div>
</div>