  <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <i class="fa fa-th"></i> Lista de usuarios
          <span class="btn btn-xs btn-success pull-right" ui-sref="app.lc.users.create" data-title="Añadir" data-container="body" data-placement="top" bs-tooltip><i class=" fa fa-plus"></i></span>
          <!-- Export options dropdown -->
          <div class="row pull-right" style="margin-right: 5px;">
              <div class="dropdown">
                  <button class="btn btn-xs btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-title="Exportar" data-container="body" data-placement="top" bs-tooltip>
                      <i class=" fa fa-download"></i></span>
                  </button>

                  <ul class="table-export dropdown-menu"
                  table-selector="'auxTable'"
                  export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'Lista de usuarios' }"
                  aria-labelledby="dropdownMenu1"
                  style="min-width: 60px;">
                      <li te-option te-value="'pdf'" te-param="'type'">
                          <a href="">PDF</a>
                      </li>

                      <li te-option te-value="'excel'" te-param="'type'">
                          <a href="">Excel</a>
                      </li>

                      <li te-option te-value="'csv'" te-param="'type'">
                          <a href="">CSV</a>
                      </li>
                  </ul>
              </div>
          </div>
        </strong>
      </div>
      <table st-table="list.users" st-filtered-collection="filteredCollection" class="table table-striped">
          <thead>
              <tr>
                  <th st-sort="firstName" class="hidden-xs">Nombre</th>
                  <th st-sort="lastName">Apellido</th>
                  <th st-sort="dni" class="hidden-xs">DNI</th>
                  <th st-sort="phone" class="hidden-xs">Teléfono</th>
                  <th st-sort="email">Email</th>
                  <th st-sort="role" class="hidden-xs">Rol</th>
                  <th class="text-center" class="hidden-xs">Acciones</th>
              </tr>
              <tr>
                <th colspan="7">
                  <input st-search placeholder="búsqueda global..." class="input-sm form-control" type="search"/>
                </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="user in list.users">
                <td class="hidden-xs">{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td class="hidden-xs">{{ user.dni }}</td>
                <td class="hidden-xs">{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td class="hidden-xs"><span class="label" ng-class="{'label-warning': user.role == 'admin', 'label-primary': user.role == 'customer'}"><span ng-show="user.role == 'customer'">Cliente</span><span ng-show="user.role == 'admin'">Administrador</span></span></td>
                <td class="text-center">
                    <a ui-sref="app.lc.users.editor({userId:user.$id})" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="editar" data-container="body" bs-tooltip>
                      <i class="fa fa-pencil-square-o"></i>
                    </a>
                </td>
            </tr>
          </tbody>
          <tfoot ng-show="list.users.length >= 20">
                <td colspan="7" class="text-center">
                  <div st-items-by-page="20" st-pagination></div>
                </td>
          </tfoot>
      </table>

      <!-- Auxiliar Table with All the content to export -->
      <table id="auxTable" style="opacity: 0; position: absolute;">
          <thead>
              <tr>
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>DNI</th>
                  <th>Telefono</th>
                  <th>Email</th>
                  <th>Rol</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="user in filteredCollection">
                <td class="hidden-xs">{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td class="hidden-xs">{{ user.dni }}</td>
                <td class="hidden-xs">{{ user.phone }}</td>
                <td>{{ user.email }}</td>
                <td class="hidden-xs"><span class="label" ng-class="{'label-warning': user.role == 'admin', 'label-primary': user.role == 'customer'}"><span ng-show="user.role == 'customer'">Cliente</span><span ng-show="user.role == 'admin'">Administrador</span></span></td>
            </tr>
          </tbody>
      </table>

  </div>
