<div class="pull-right" ng-show="editor.user.id">
	<div class="col-xs-12">
		<button type="button" class="btn btn-danger" ng-disabled="editor.loading || editor.deleting" data-animation="am-fade-and-slide-top" data-template="scripts/modules/users/views/modal-delete.html" bs-modal="modal">Eliminar</button>
	</div>
</div>
<form class="form-horizontal" novalidate>
	<div class="form-group">
		<div class="col-md-2 control-label">
			<label for="">Tipo de usuario</label>
		</div>
		<div class="col-sm-8">
			<div class="radio">
				<label class="ceibo-radio">
					<input type="radio" name="customer" value="customer" ng-model="editor.user.role"> <span>Cliente</span>
				</label>
				<label class="ceibo-radio">
					<input type="radio" name="admin" value="admin" ng-model="editor.user.role"> <span>Administrador</span>
				</label>
			</div>
		</div>
	</div>

	<formly-form model="editor.user" fields="editor.fields" form="editor.form">
		<div class="form-group">
			<div class="pull-right">
				<div class="col-xs-12">
					<span class="btn btn-default" ui-sref="app.lc.users.list">Cancelar</span>
					<button class="btn btn-primary" ng-if="editor.user.id" ng-click="editor.userUpdate(editor.user)" ng-disabled="editor.form.$invalid || editor.loading || editor.deleting"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar cambios</span></button>
					<button class="btn btn-primary" ng-if="!editor.user.id" ng-click="editor.userCreate(editor.user)" ng-disabled="editor.form.$invalid || editor.loading || editor.deleting"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar</span></button>
				</div>
			</div>
		</div>
	</formly-form>
</form>