<lc-sidebar></lc-sidebar>
<div class="page-wrap" ng-class="{'open' : master.toggle, 'hiddenPhone' : master.phone}">
	<lc-header></lc-header>
	<div class="">
		<div class="container fade-in" style="width: auto;" ui-view=""></div>
	</div>
</div>
<lc-footer></lc-footer>