<div class="col-md-12">
	<legend ng-show="editor.brand.id">Editar marca</legend>
	<legend ng-hide="editor.brand.id">Crear marca</legend>
</div>

<form class="form-horizontal" name="form" role="form" novalidate>
	<div class="form-group">
	  	<label for="" class="col-md-1 control-label">Título</label>
	  	<div class="form-group">
		  	<div class="col-md-4">
		  		<input type="text" class="form-control" placeholder="" name="title" ng-model="editor.brand.title" required/>
		  	</div>
	  	</div>
	</div>

	<div class="form-group">
		<label for="" class="col-md-1 control-label">Imagen</label>
		<div class="col-md-4">
			<div>
				<product-photo product-id="editor.brand.id" photo-id="editor.brand.photoId" photo-url="editor.brand.photoUrl" required></product-photo>
			</div>
		</div>
	</div>

	<div class="form-group">
		<label class="col-md-1 control-label">Destacar</label>
		<div class="col-md-4">
			<label class="ceibo-checkbox">
				<input type="checkbox" ng-model="editor.brand.highlight" ng-disabled="!editor.brand.photoId"><span></span>
			</label>
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-12">
			<div class="pull-right">
				<a ui-sref="app.lc.brands.list" class="btn btn-default">Cancel</a>
				<button class="btn btn-primary" ng-if="editor.brand.id" ng-click="editor.update(editor.brand)" ng-disabled="form.$invalid || editor.loading"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar cambios</span></button>
				<button class="btn btn-primary" ng-if="!editor.brand.id" ng-click="editor.save(editor.brand)" ng-disabled="form.$invalid || editor.loading"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar</span></button>
			</div>
		</div>
	</div>
</form>
