<br>
<div class="row">
  <form class="form-horizontal" role="form">
    <div class="col-md-12">
      <div class="form-group">
        <label for="" class="col-md-1 control-label">Buscar</label>
        <div class="col-md-4">
          <input class="form-control" name="search" type="text" ng-model="search" />
        </div>
      </div>
    </div>
  </form>
</div>
<br>

<div class="row">
  <div class="col-md-12">

    <div class="col-md-4" ng-repeat="brand in list.brands | orderBy: 'highlight' | filter: search">
      <div class="panel panel-primary">
        <div class="panel-heading"><i ng-if="brand.highlight" class="fa fa-star"></i> {{ brand.title }}</div>
        <div class="panel-body">
         <div class="row">
            <div ng-repeat="subCategory in brand.subCategories">
              <span class="label label-primary">{{ subCategory.title }}</span>
            </div>
         </div>
          <div class="row">
            <div class="col-md-12">
              <img ng-src="{{ brand.photoUrl }}" width="80" height="80">
              <div class="pull-right">
                <a class="btn btn-primary btn-sm" ng-disabled="list.deleteProcess" ui-sref="app.lc.brands.editor({brandId:brand.$id})">Editar</a>
                <button class="btn btn-danger btn-sm" ng-disabled="list.deleteProcess" data-animation="am-fade-and-slide-top" data-template-url="scripts/modules/brands/views/modal-delete.html" ng-click="list.id = brand.$id" bs-modal="modal">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<br>
