<div class="row">
	<div class="col-xs-12">
		<div class="upload-area list">
      <div class="thumbnail" ng-repeat="photo in list.listUrl">
        <img ng-src="{{photo || '//:0'}}">
        <button ng-show="photo" type="button" ng-click="list.deleteFile(list.listUrl, photo, photo)" class="btn btn-sm btn-danger delete">Eliminar</button>
      </div>
      <div>
        <br>
        <button type="button" ngf-select ng-accept="list.validate($file)" ng-model="list.file" ngf-change="list.upload()" class="btn btn-sm btn-primary">Subir foto</button>
      </div>
		</div>
  </div>
</div>