<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<a ui-sref="app.lc.users.list" class="dashboard-stat bgr-primary flipInX">
						<div class="visual">
							<i class="fa fa-users"></i>
						</div> <!-- /.visual -->

						<div class="details">
							<span class="content">Usuarios</span>
							<span class="value">{{dashboard.users}}</span>
						</div> <!-- /.details -->
					<i class="fa fa-play-circle more"></i>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a ui-sref="app.lc.sales.list" class="dashboard-stat bgr-warning flipInX">
						<div class="visual">
							<i class="fa fa-star"></i>
						</div> <!-- /.visual -->

						<div class="details">
							<span class="content">Ventas pendientes</span>
							<span class="value">{{dashboard.salesPending.length}}</span>
						</div> <!-- /.details -->
					<i class="fa fa-play-circle more"></i>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a ui-sref="app.lc.sales.list" class="dashboard-stat bgr-success flipInX">
						<div class="visual">
							<i class="fa fa-shopping-cart"></i>
						</div> <!-- /.visual -->

						<div class="details">
							<span class="content">Ventas concretadas</span>
							<span class="value">{{dashboard.salesSuccess.length}}</span>
						</div> <!-- /.details -->
					<i class="fa fa-play-circle more"></i>
				</a>
			</div>
			<div class="col-md-3 col-sm-6">
				<a ui-sref="app.lc.revenues" class="dashboard-stat bgr-info flipInX">
						<div class="visual">
							<i class="fa fa-money"></i>
						</div> <!-- /.visual -->

						<div class="details">
							<span class="content">Ingresos totales</span>
							<!-- Revenue -->
							<span class="value">{{dashboard.revenueTotal | numberToPesos }}</span>
						</div> <!-- /.details -->
					<i class="fa fa-play-circle more"></i>
				</a>
			</div>
		</div>
	</div>
</div>

<div class="row">

	<div class="col-md-12" ng-if="dashboard.alertStock.length">
		<div class="row">
			<div class="col-md-12">
					<div class="panel panel-danger">
						<div class="panel-heading">Alerta de stock!<i class="fa fa-angle-down pull-right" data-toggle="collapse" data-target="#panel-body-3"></i></div>
						<div class="panel-body no-padding collapse in" id="panel-body-3">
							<table st-table="" class="table table-striped">
						      <table st-table="dashboard.alertStock" class="table table-striped">
						          <thead>
						              <tr>
						                  <th>#</th>
						                  <th st-sort="title">Nombre</th>
						                  <th st-sort="price">Precio</th>
						                  <th st-sort="stock">Stock</th>
						                  <th class="text-center">Acciones</th>
						              </tr>
						          </thead>
						          <tbody>
						              <tr ng-repeat="product in dashboard.alertStock">
						                <td>{{ $index + 1 }}</td>
						                <td>{{ product.title }}</td>
						                <td>${{ product.price }}</td>
						                <td>{{ product.stock }}</td>
						                <td class="text-center">
						                    <a ui-sref="app.lc.products.editor({productId:product.$id,state:'published'})" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="editar" data-container="body" bs-tooltip>
						                      <i class="fa fa-pencil-square-o"></i>
						                    </a> 
						                </td>
						            </tr>
						          </tbody>
						          <tfoot>
						                <td colspan="6" class="text-center">
						                  <div st-items-by-page="10" st-pagination=""></div>
						                </td>
						          </tfoot>
						      </table>
						</div>
					</div>
			</div>
		</div>
	</div>

	<div class="col-md-12" ng-if="dashboard.lastProducts.length">
		<div class="row">
			<div class="col-md-12">
					<div class="panel panel-primary">
						<div class="panel-heading">Últimos productos<i class="fa fa-angle-down pull-right" data-toggle="collapse" data-target="#panel-body"></i></div>
						<div class="panel-body no-padding collapse in" id="panel-body">
						      <table st-table="dashboard.lastProducts" class="table table-striped">
						          <thead>
						              <tr>
						                  <th>#</th>
						                  <th st-sort="title">Nombre</th>
						                  <th st-sort="price">Precio</th>
						                  <th>Marca</th>
						                  <th>Categorias</th>
						                  <th class="text-center">Acciones</th>
						              </tr>
						          </thead>
						          <tbody>
						              <tr ng-repeat="product in dashboard.lastProducts">
						                <td>{{ $index + 1 }}</td>
						                <td>{{ product.title }}</td>
						                <td>${{ product.price }}</td>
						                <td>
						                	<brands-displayer id="product.brand" service='dashboard.brandsService' brand-key="'title'" service-as-promise="true"></brands-displayer>
						                </td>
						                <td>
						                	<div ng-repeat="category in product.categories">
						                		<categories-displayer id="category" service='dashboard.categoriesService' category-key="'title'" service-as-promise="true"></categories-displayer>
						                	</div>
					                	</td>
						                <td class="text-center">
						                    <a ui-sref="app.lc.products.editor({productId:product.$id,state:'published'})" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="editar" data-container="body" bs-tooltip>
						                      <i class="fa fa-pencil-square-o"></i>
						                    </a> 
						                </td>
						            </tr>
						          </tbody>
						          <tfoot>
						                <td colspan="6" class="text-center">
						                  <div st-items-by-page="10" st-pagination=""></div>
						                </td>
						          </tfoot>
						      </table>
						</div>
					</div>
			</div>
	</div>

</div>
