
  <div class="panel panel-default">
      <div class="panel-heading">
        <strong>
          <i class="fa fa-th"></i> Lista de ventas
          <span class="btn btn-xs btn-success pull-right" ui-sref="app.lc.sales.create" data-title="Añadir" data-container="body" data-placement="top" bs-tooltip><i class=" fa fa-plus"></i></span>
          <!-- Export options dropdown -->
          <div class="row pull-right" style="margin-right: 5px;">
              <div class="dropdown">
                  <button class="btn btn-xs btn-danger dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" data-title="Exportar" data-container="body" data-placement="top" bs-tooltip>
                      <i class=" fa fa-download"></i></span>
                  </button>

                  <ul class="table-export dropdown-menu"
                  table-selector="'auxTable'"
                  export-options="{type: 'pdf', escape: true, ignoreColumn : '[4]', tableName: 'Lista de ventas' }"
                  aria-labelledby="dropdownMenu1"
                  style="min-width: 60px;">
                      <li te-option te-value="'pdf'" te-param="'type'">
                          <a href="">PDF</a>
                      </li>

                      <li te-option te-value="'excel'" te-param="'type'">
                          <a href="">Excel</a>
                      </li>

                      <li te-option te-value="'csv'" te-param="'type'">
                          <a href="">CSV</a>
                      </li>
                  </ul>
              </div>
          </div>
        </strong>
      </div>
      <table st-table="list.sales" st-filtered-collection="filteredCollection" class="table table-striped">

          <thead>
              <tr>
                  <!--<th st-sort="user.lastName">Apellido</th>
                  <th st-sort="user.firstName">Nombre</th>
                  <th st-sort="user.email">Email</th>-->
                  <th st-sort="status">Estado</th>
                  <th>Tipo de operación</th>
                  <th st-sort="date.full" st-sort-default="reverse">Fecha</th>
                  <th class="text-center">Acciones</th>
              </tr>
              <tr>
                <th colspan="5">
                  <input st-search placeholder="búsqueda global..." class="input-sm form-control" type="search"/>
                </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="sale in list.sales track by $index">
                <!--<th>{{ sale.user.lastName }}</th>
                <th>{{ sale.user.firstName }}</th>
                <td>{{ sale.user.email }}</td>-->
                <td>
                  <div>
                    <span ng-if="sale.status == 'success' || sale.collection.status == 'approved'" class="label label-success">
                      Aprobado
                    </span>
                  </div>
                  <div>
                    <span ng-if="sale.status == 'pending' || sale.collection.status == 'pending'" class="label label-warning">
                      Pendiente
                    </span>
                  </div>
                  <div>
                    <span ng-if="sale.status == 'cancelled' || sale.collection.status == 'cancelled'" class="label label-danger">
                      Cancelada
                    </span>
                  </div>
                </td>
                <td>
                  <div>
                    <span ng-if="sale.collection" class="label label-primary">
                      Mercado Pago
                    </span>
                  </div>
                  <div>
                    <span ng-if="!sale.collection" class="label label-default">
                      A convenir con el comprador
                    </span>
                  </div>
                </td>
                <td>
                  {{sale.date.calendar}}
                </td>
                <td class="text-center">
                    <a ng-if="sale.$id" ui-sref="app.lc.sales.editor({saleId:sale.$id,state:sale.status})" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="ver" data-container="body" bs-tooltip>
                      <i class="fa fa-eye"></i>
                    </a>
                    <a ng-if="sale.collection" ui-sref="app.lc.sales.mercadopago({saleId:sale.collection.id})" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="ver" data-container="body" bs-tooltip>
                      <i class="fa fa-eye"></i>
                    </a>
                </td>
            </tr>
          </tbody>
          <tfoot>
                <td colspan="6" class="text-center">
                  <div st-items-by-page="20" st-pagination=""></div>
                </td>
          </tfoot>
      </table>

      <!-- Auxiliar Table with All the content to export -->
      <table id="auxTable" style="opacity: 0; position: absolute;">
          <thead>
              <tr>
                  <!--
                  <th>Apellido</th>
                  <th>Nombre</th>
                  <th>Email</th>
                  -->
                  <th>Estado</th>
                  <th>Tipo de operacion</th>
                  <th>Fecha</th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="sale in filteredCollection track by $index">
                <!--<th>{{ sale.user.lastName }}</th>
                <th>{{ sale.user.firstName }}</th>
                <td>{{ sale.user.email }}</td>-->
                <td>
                  <div>
                    <span ng-if="sale.status == 'success'" class="label label-success">
                      Aprobado
                    </span>
                  </div>
                  <div>
                    <span ng-if="sale.status == 'pending'" class="label label-warning">
                      Pendiente
                    </span>
                  </div>
                  <div>
                    <span ng-if="sale.status == 'cancelled'" class="label label-danger">
                      Cancelada
                    </span>
                  </div>
                </td>
                <td>
                  <div>
                    <span ng-if="sale.collection" class="label label-primary">
                      Mercado Pago
                    </span>
                  </div>
                  <div>
                    <span ng-if="!sale.collection" class="label label-default">
                      A convenir
                    </span>
                  </div>
                </td>

                <td>
                  {{sale.date.calendar}}
                </td>
            </tr>
          </tbody>
      </table>

  </div>
