<form class="form-horizontal" role="form" novalidate>

	<h4>Datos del usuario</h4>

	<formly-form model="create.user" fields="create.fieldsUser" form="create.form">
	</formly-form>


	<h4 style="margin-top:40px;">Datos de la venta - items</h4>

	<div class="form-group">
		<div class="col-md-2 control-label">
			<label for="">Tipo de venta</label>
		</div>
		<div class="col-sm-8">
			<div class="radio">
				<label class="ceibo-radio">
					<input type="radio" name="white" value="white" ng-model="create.item.type">
          <span>Factura</span>
				</label>
				<label class="ceibo-radio">
					<input type="radio" name="black" value="black" ng-model="create.item.type">
          <span>Consignación</span>
				</label>
			</div>
		</div>
	</div>

	<formly-form model="create.item" fields="create.fields" form="create.form2"></formly-form>
  <button class="btn btn-success"
          style="margin: 5px 20px 15px 35px;"
          ng-disabled="create.form2.$invalid"
          ng-click="create.addItems()">
    <i class="fa fa-plus"></i> Agregar producto
  </button>

  <div class="panel panel-default">

      <div class="panel-heading">
        <strong><i class="fa fa-th"></i> Lista de productos</strong>
        <!--<span class="btn btn-xs btn-success pull-right" ng-click="create.addElement(create.items, [])" ng-disabled="create.editMode" data-title="Añadir" data-container="body" data-placement="top" bs-tooltip><i class=" fa fa-plus"></i></span>-->
      </div>

      <table st-table="create.sale.items" class="table table-striped">
          <thead>
              <tr>
                  <th st-sort="name">Tipo de venta</th>
                  <th st-sort="name">Código de barras</th>
                  <th st-sort="name">Título</th>
                  <th st-sort="price">Precio</th>
                  <th st-sort="stock">Stock</th>
                  <th st-sort="quantity">Cantidad</th>
                  <th class="text-center">Acciones</th>
              </tr>
              <tr>
                <th colspan="12">
                  <input st-search placeholder="búsqueda global..."
                         class="input-sm form-control"
                         type="search"/>
                </th>
              </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in create.items">

                <th class="col-xs-2">
                  <span ng-show="!create.editMode || create.editing !== {{$index}}">
    		        	  <span ng-if="item.type == 'white'">Factura</span>
    		        	  <span ng-if="item.type == 'black'">Consignación</span>
    		          </span>
                  <button ng-show="create.editMode && create.editing == {{$index}}"
                          type="button"
                          class="btn btn-default"
                          ng-model="item.type"
                          placeholder="Tipo..."
                          bs-options="type.value2 as type.value for type in create.selectType"
                          bs-select>
    		          </button>
                </th>

                <th class="col-xs-2">
                  <span ng-show="!create.editMode || create.editing !== {{$index}}">
                    {{ item.ean }}
                  </span>
                  <input ng-change="create.findProduct(item.ean, $index)"
                         ng-show="create.editMode && create.editing == {{$index}}"
                         type="number"
                         class="form-control"
                         minlength="13"
                         maxlength="13"
                         placeholder=""
                         ng-model="item.ean"
                         required>
                </th>

                <th class="col-xs-4">
                  <span ng-show="!create.editMode || create.editing !== {{$index}}">
                    {{ item.title }}
                  </span>
                  <input
                     ng-show="create.editMode && create.editing == {{$index}}"
                     type="text"
                     class="form-control"
                     ng-model="item.title"
                     bs-options="title for title in create.titles"
                     bs-typeahead
                     required
                  >
                </th>

                <th class="col-xs-1">
                  <span ng-show="!create.editMode || create.editing !== {{$index}}">
                    ${{ item.price }}
                  </span>
                  <input ng-show="create.editMode && create.editing == {{$index}}"
                         type="number"
                         class="form-control"
                         placeholder=""
                         ng-model="item.price"
                         required>
                </th>

                <th class="col-xs-1">
                  <span ng-show="!create.editMode || create.editing !== {{$index}}">
                    {{ item.stock }}
                  </span>
                  <input ng-show="create.editMode && create.editing == {{$index}}"
                         type="number"
                         class="form-control"
                         placeholder=""
                         ng-model="item.stock"
                         style="width:75px"
                         required>
                </th>

                <th class="col-xs-1">
                  <span ng-show="!create.editMode || create.editing !== {{$index}}">
                    {{ item.quantity }}
                  </span>
                  <input ng-show="create.editMode && create.editing == {{$index}}"
                         type="number"
                         min="0"
                         class="form-control"
                         placeholder=""
                         ng-model="item.quantity"
                         style="width:75px"
                         required>
                </th>

                <td class="text-center col-xs-1">
                  <span ng-show="!create.editMode || create.editing !== {{$index}}">
                    <button ng-click="create.edit(); create.editInline(item)"
                            class="btn btn-sm btn-info"
                            data-animation="am-fade-and-scale"
                            data-title="editar"
                            data-container="body"
                            ng-disabled="create.editMode && create.editing !== {{$index}}"
                            bs-tooltip>
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button ng-click="create.removeElement(create.items, item)"
                            class="btn btn-sm btn-danger"
                            ng-disabled="create.editMode && create.editing !== {{$index}}"
                            data-animation="am-fade-and-scale"
                            data-title="eliminar"
                            data-container="body"
                            bs-tooltip>
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </span>
                  <span ng-show="create.editMode && create.editing == {{$index}}">
                    <button ng-click="create.saveField({{$index}}, create.sale);"
                            class="btn btn-sm btn-success"
                            ng-disabled="!item.quantity || item.quantity > item.stock"
                            data-animation="am-fade-and-scale"
                            data-title="guardar"
                            data-container="body"
                            bs-tooltip>
                      <i class="fa fa-check"></i>
                    </button>
                    <button ng-click="create.cancel({{$index}});"
                            class="btn btn-sm btn-warning"
                            data-animation="am-fade-and-scale"
                            data-title="cancelar"
                            data-container="body"
                            bs-tooltip>
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </td>
            </tr>
          </tbody>
          <tfoot>
                <td colspan="6" class="text-center">
                  <div st-items-by-page="20" st-pagination=""></div>
                </td>
          </tfoot>
      </table>
  </div>

	<div class="form-group">
		<div class="pull-right">
			<div class="col-xs-12">
				<button class="btn btn-primary"
                ng-click="create.createSale(create.items, create.user)"
                ng-disabled="create.form.$invalid || !create.items.length || create.editing || create.editMode">
          Guardar
        </button>
				<button class="btn btn-default"
                ui-sref="app.lc.sales.list">
          Cancelar
        </button>
			</div>
		</div>
	</div>

</form>
