  <div class="form-group">
    <div class="pull-right">
      <div class="col-xs-12">
        <!-- buttons -->
      </div>
    </div>
  </div>
  <h4>Datos del usuario</h4>

<form class="form-horizontal" name="form" role="form" novalidate>

    <div class="form-group">
        <label for="" class="col-md-2 control-label">Estado:</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>
                  <div>
                    <span ng-if="mp.sale.status == 'approved'" class="label label-success">
                      Aprobado
                    </span>
                  </div>
                  <div>
                    <span ng-if="mp.sale.status == 'pending'" class="label label-warning">
                      Pendiente
                    </span>
                  </div>
                  <div>
                    <span ng-if="mp.sale.status == 'cancelled'" class="label label-danger">
                      Cancelada
                    </span>
                  </div>
                </p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label">Código de compra:</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>{{mp.sale.merchant_order_id}}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label">Fecha:</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>{{mp.sale.date_created | date:'dd/MM/yyyy'}}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label">Nombre:</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>{{mp.sale.payer.first_name}}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label">Apellido:</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>{{mp.sale.payer.last_name}}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label">Nickname:</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>{{mp.sale.payer.nickname}}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label">Email:</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>{{mp.sale.payer.email}}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label">Teléfono:</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>({{mp.sale.payer.phone.area_code}}) {{mp.sale.payer.phone.number}}</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label">(Faltan)</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>(DNI Dirección Ciudad)</p>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="" class="col-md-2 control-label">Precio:</label>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <p>{{mp.sale.currency_id}} {{mp.sale.total_paid_amount}}</p>
            </div>
        </div>
    </div>

</form>

<div class="form-group">
    <div class="pull-right">
      <div class="col-xs-12">
        <span class="btn btn-default" ui-sref="app.lc.sales.list">Cancelar</span>
      </div>
    </div>
</div>

