  <div class="form-group">
    <div class="pull-right">
      <div class="col-xs-12">
        <button class="btn btn-success" ng-click="editor.saleChangeState(editor.sale)" ng-show="editor.sale.status == 'pending'" ng-disabled="editor.loading || editor.deleting || editor.editMode" data-title="Aprobar" data-container="body" data-placement="top" bs-tooltip><span><i class="fa fa-thumbs-up"></i></span></button>
        <button class="btn btn-warning" ng-click="editor.saleChangeState(editor.sale)" ng-show="editor.sale.status == 'success'" ng-disabled="editor.loading || editor.deleting || editor.editMode" data-title="Marcar como pendiente" data-container="body" data-placement="top" bs-tooltip><span><i class="fa fa-exclamation-triangle"></i></span></button>
        <button class="btn btn-danger" ng-click="editor.saleCancelled(editor.sale)" ng-hide="editor.sale.status == 'cancelled'" ng-disabled="editor.loading || editor.deleting || editor.editMode" data-title="Cancelar" data-container="body" data-placement="top" bs-tooltip><span><i class="fa fa-ban"></i></span></button>
        <button class="btn btn-danger" ng-click="editor.saleDelete(editor.sale)" ng-disabled="editor.loading || editor.deleting || editor.editMode" data-title="Eliminar" data-container="body" data-placement="top" bs-tooltip><span><i class="fa fa-trash-o"></i></span></button>

      </div>
    </div>
  </div>
  <h4>Datos del usuario</h4>

  <form class="form-horizontal" novalidate>
  	<formly-form model="editor.sale.user || editor.sale.client" fields="editor.userFields" form="editor.userForm" options="editor.options">
  	</formly-form>
  </form>

  <div class="panel panel-default">
      <div class="panel-heading">
        <strong><i class="fa fa-th"></i> Lista de productos</strong>
      </div>
      <table st-table="editor.sale.items" class="table table-striped">
          <thead>
              <tr>
                  <th st-sort="name">Título</th>
                  <th st-sort="price">Precio</th>
                  <th st-sort="quantity">Cantidad</th>
                  <th class="text-center">Acciones</th>
              </tr>
              <tr>
                <th colspan="5">
                  <input st-search placeholder="búsqueda global..." class="input-sm form-control" type="search"/>
                </th>
              </tr>
          </thead>
          <tbody>
              <tr ng-repeat="items in editor.sale.items">
                <th>{{ items.name || items.title }}</th>
                <th>${{ items.price }}</th>
                <th><span ng-show="!editor.editMode || editor.editing !== {{$index}}">{{ items.quantity }}</span><input ng-show="editor.editMode && editor.editing == {{$index}}" type="number" min="0" max="{{items.stock}}" class="form-control" placeholder="" ng-model="items.quantity" style="width:75px" required></th>
                <td class="text-center">
                  <span ng-show="!editor.editMode || editor.editing !== {{$index}}">
                    <button ng-click="editor.edit(); editor.editInline(items)" class="btn btn-sm btn-info" data-animation="am-fade-and-scale" data-title="editar" data-container="body" ng-disabled="editor.editMode && editor.editing !== {{$index}}" bs-tooltip>
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                    <button ng-click="editor.removeElement(editor.sale.items, items)" class="btn btn-sm btn-danger" ng-disabled="editor.editMode && editor.editing !== {{$index}}" data-animation="am-fade-and-scale" data-title="eliminar" data-container="body" bs-tooltip>
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </span>
                  <span ng-show="editor.editMode && editor.editing == {{$index}}">
                    <button ng-click="editor.saveField({{$index}}, editor.sale);" class="btn btn-sm btn-success" ng-disabled="!items.quantity || items.quantity > items.stock" data-animation="am-fade-and-scale" data-title="guardar" data-container="body" bs-tooltip>
                      <i class="fa fa-check"></i>
                    </button>
                    <button ng-click="editor.cancel({{$index}});" class="btn btn-sm btn-warning" data-animation="am-fade-and-scale" data-title="cancelar" data-container="body" bs-tooltip>
                      <i class="fa fa-remove"></i>
                    </button>
                  </span>
                </td>
            </tr>
          </tbody>
          <tfoot>
                <td colspan="6" class="text-center">
                  <div st-items-by-page="20" st-pagination=""></div>
                </td>
          </tfoot>
      </table>
  </div>

  <div class="form-group">
    <div class="pull-right">
      <div class="col-xs-12">
        <span class="btn btn-default" ui-sref="app.lc.sales.list">Cancelar</span>
        <button class="btn btn-primary" ng-click="editor.saleUpdate(editor.sale)" ng-disabled="editor.form.$invalid || editor.loading || !editor.sale.items.length || editor.deleting || editor.editMode"><span ng-show="editor.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!editor.loading">Guardar cambios</span></button>
      </div>
    </div>
  </div>
