<form role="form" class="form-horizontal" name="form" novalidate>

    <div class="col-md-12">
        <span ng-show="!config.credential.$id" class="label label-info">Actualmente no hay configuración de Mercado Pago</span>
    </div>

    <div class="col-md-12">
        <span ng-show="!config.credential.$id"><h4>Cargar credenciales de MercadoPago</h4></span>
        <span ng-show="config.credential.$id"><h4>Editar credenciales de MercadoPago</h4></span>
        <span>Para conocer estos datos, <a href="https://www.mercadopago.com/mla/herramientas/aplicaciones" target="_blank">haga click acá</a></span>
        <hr>
    </div>

    <div class="form-group" ng-class="{ 'has-error' :  form.identif.$touched && !config.credential.identif }">
        <label for="" class="col-md-2 control-label">CLIENT_ID</label>
        <div class="col-md-5">
            <input type="text" class="form-control" name="identif" ng-model="config.credential.identif" required></input>
      <div class="my-messages">
        <div class="some-message">
          <span ng-show="form.identif.$invalid && form.identif.$touched">CLIENT_ID requerido.</span>
        </div>
      </div>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' :  form.secret.$touched && !config.credential.secret }">
        <label for="" class="col-md-2 control-label">CLIENT_SECRET</label>
        <div class="col-md-5">
            <input type="text" class="form-control" name="secret" ng-model="config.credential.secret" required></input>
      <div class="my-messages">
        <div class="some-message">
          <span ng-show="form.secret.$invalid && form.secret.$touched">CLIENT_SECRET requerido.</span>
        </div>
      </div>
        </div>
    </div>


  <div class="form-group">
    <div class="pull-right">
      <div class="col-xs-12">
        <span class="btn btn-default" ui-sref="app.lc.sales.list">Cancelar</span>

        <button ng-show="!config.credential.$id" class="btn btn-primary" ng-click="config.create(config.credential)" ng-disabled="form.$invalid || config.loading"><span ng-show="config.loading"><i class="fa fa-spinner fa-spin"></i> Guardando...</span><span ng-show="!config.loading">Guardar</span></button>

        <button ng-show="config.credential.$id" class="btn btn-primary" ng-click="config.update(config.credential)" ng-disabled="form.$invalid || config.loading"><span ng-show="config.loading"><i class="fa fa-spinner fa-spin"></i> Actualizando...</span><span ng-show="!config.loading">Actualizar</span></button>
      </div>
    </div>
  </div>

</form>
