<label>Filtrar por:&nbsp;</label>
<button type="button" class="btn btn-default" ng-model="stat.selectedDate" ng-change="stat.setFilter()" placeholder="Filtrar ventas por..." bs-options="date.value for date in stat.selectDate" bs-select>
  Action <span class="caret"></span>
</button>

<div class="row">
	<div class="col-md-12">
		<nvd3 options="stat.options" data="stat.data" config="stat.config"></nvd3>
	</div>
</div>


<div class="row">
	<div class="col-md-12">
		<nvd3 options="stat.options2" data="stat.data2"></nvd3>
	</div>
</div>
