<div class="col-xs-12">
  <div class="row header">
    <div class="page-title col-xs-6">
      <span ng-show="$state.current.name == 'app.lc.dashboard'">Escritorio</span>
      <span ng-show="$state.current.name == 'app.lc.products.list' || $state.current.name == 'app.lc.products.editor' || $state.current.name == 'app.lc.products.create' || $state.current.name == 'app.lc.products.editInBlock' || $state.current.name == 'app.lc.products.import'">Productos</span>
      <span ng-show="$state.current.name == 'app.lc.sales.list' || $state.current.name == 'app.lc.sales.editor' || $state.current.name == 'app.lc.sales.create' || $state.current.name == 'app.lc.sales.import' || $state.current.name == 'app.lc.sales.stats'">Ventas</span>
      <span ng-show="$state.current.name == 'app.lc.economy.shoppings.list' || $state.current.name == 'app.lc.economy.shoppings.editor' || $state.current.name == 'app.lc.economy.shoppings.create'">Compras</span>
      <span ng-show="$state.current.name == 'app.lc.categories.list' || $state.current.name == 'app.lc.categories.editor' || $state.current.name == 'app.lc.categories.create' || $state.current.name == 'app.lc.categories.import'">Categorías</span>
      <span ng-show="$state.current.name == 'app.lc.subcategories.list' || $state.current.name == 'app.lc.subcategories.editor' || $state.current.name == 'app.lc.subcategories.create' || $state.current.name == 'app.lc.subcategories.import'">Subcategorías</span>
      <span ng-show="$state.current.name == 'app.lc.brands.list' || $state.current.name == 'app.lc.brands.editor' || $state.current.name == 'app.lc.brands.create'">Marcas</span>
      <span ng-show="$state.current.name == 'app.lc.vendors.list' || $state.current.name == 'app.lc.vendors.editor' || $state.current.name == 'app.lc.vendors.create'">Proveedores</span>
      <span ng-show="$state.current.name == 'app.lc.users.list' || $state.current.name == 'app.lc.users.editor' || $state.current.name == 'app.lc.users.create'">Usuarios</span>
      <span ng-show="$state.current.name == 'app.lc.about.editor'">Sobre Nosotros</span>
      <span ng-show="$state.current.name == 'app.lc.revenues'">Ingresos</span>
    </div>
    <div class="page-title col-xs-6 hidden-xs text-right date">
      {{date.fullDate}}
    </div>
  </div>
</div>