<nav role="navigation" id="sidebar-wrapper" ng-class="{'open' : master.toggle}">
  <ul class="menu">
    <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="10" min-scrollbar-length="20">
      <div  id="accordion">
        <li class="sidebar-main">
          <a ng-click="master.toggleSidebar()">
            Las Coloradas CMS
            <i class="menu-icon glyphicon glyphicon-transfer"></i>
          </a>
        </li>

        <li ui-sref-active="active" data-title="Escritorio" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle">
          <a ui-sref="app.lc.dashboard"><span><div class="img-link"><i class="fa fa-tachometer"></i></div>Escritorio</span></a>
        </li>
        <li class="panel" data-title="Productos" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle" ng-class="{active:$state.includes('app.lc.products')}">
          <span data-toggle="collapse" data-parent="#accordion" data-target="#products" aria-expanded="true" aria-controls="products" ng-class="{collapsed:$state.includes('app.lc.products')}"><div class="img-link"><i class="fa fa-th-large"></i></div>Productos<i class="fa fa-angle-down"></i></span>
          <ul class="collapse" id="products" class="collapse" aria-labelledby="products" ng-class="{in:$state.includes('app.lc.products')}">
            <li><a ui-sref="app.lc.products.list" ui-sref-active="active"><i class="fa fa-list" data-title="Lista" data-container="body" data-placement="right" bs-tooltip></i> Lista</a></li>
            <li><a ui-sref="app.lc.products.create" ui-sref-active="active"><i class="fa fa-plus" data-title="Crear" data-container="body" data-placement="right" bs-tooltip></i> Crear</a></li>
            <li><a ui-sref="app.lc.products.editInBlock" ui-sref-active="active"><i class="fa fa-pencil" data-title="Edición en bloque" data-container="body" data-placement="right" bs-tooltip></i> Edición en bloque</a></li>
            <li><a ui-sref="app.lc.products.import" ui-sref-active="active"><i class="fa fa-upload" data-title="Importar" data-container="body" data-placement="right" bs-tooltip></i>Importar</a></li>
          </ul>
        </li>
        <li class="panel" data-title="Ventas" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle" ng-class="{active:$state.includes('app.lc.sales')}">
          <span data-toggle="collapse" data-parent="#accordion" data-target="#sales" aria-expanded="true" aria-controls="sales" ng-class="{collapsed:$state.includes('app.lc.sales')}"><div class="img-link"><i class="fa fa-shopping-cart"></i></div>Ventas<i class="fa fa-angle-down"></i></span>
          <ul class="collapse" id="sales" class="collapse" aria-labelledby="sales" ng-class="{in:$state.includes('app.lc.sales')}">
            <li><a ui-sref="app.lc.sales.list" ui-sref-active="active"><i class="fa fa-list" data-title="Lista" data-container="body" data-placement="right" bs-tooltip></i> Lista</a></li>
            <li><a ui-sref="app.lc.sales.create" ui-sref-active="active"><i class="fa fa-plus" data-title="Crear" data-container="body" data-placement="right" bs-tooltip></i> Crear</a></li>
            <li><a ui-sref="app.lc.sales.stats" ui-sref-active="active"><i class="fa fa-pie-chart" data-title="Estadísticas" data-container="body" data-placement="right" bs-tooltip></i> Estadísticas</a></li>
            <!-- <li><a ui-sref="app.lc.sales.config" ui-sref-active="active"><i class="fa fa-list" data-title="Configurar" data-container="body" data-placement="right" bs-tooltip></i> Configurar</a></li> -->
          </ul>
        </li>
        <li class="panel" data-title="Compras" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle" ng-class="{active:$state.includes('app.lc.economy.shoppings')}">
          <span data-toggle="collapse" data-parent="#accordion" data-target="#shoppings" aria-expanded="true" aria-controls="shoppings" ng-class="{collapsed:$state.includes('app.lc.economy.shoppings')}"><div class="img-link"><i class="fa fa-cart-arrow-down"></i></div>Compras<i class="fa fa-angle-down"></i></span>
          <ul class="collapse" id="shoppings" class="collapse" aria-labelledby="shoppings" ng-class="{in:$state.includes('app.lc.economy.shoppings')}">
            <li><a ui-sref="app.lc.economy.shoppings.list" ui-sref-active="active"><i class="fa fa-list" data-title="Lista" data-container="body" data-placement="right" bs-tooltip></i> Lista</a></li>
            <li><a ui-sref="app.lc.economy.shoppings.create" ui-sref-active="active"><i class="fa fa-plus" data-title="Crear" data-container="body" data-placement="right" bs-tooltip></i> Crear</a></li>
          </ul>
        </li>
        <li ui-sref-active="active" data-title="Ingresos" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle">
          <a ui-sref="app.lc.revenues"><span><div class="img-link"><i class="fa fa-money"></i></div>Ingresos</span></a>
        </li>
        <li class="panel" data-title="Sobre Nosotros" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle" ng-class="{active:$state.includes('app.lc.about')}">
          <span data-toggle="collapse" data-parent="#accordion" data-target="#about" aria-expanded="true" aria-controls="about" ng-class="{collapsed:$state.includes('app.lc.about')}"><div class="img-link"><i class="fa fa-info-circle"></i></div>Sobre Nosotros<i class="fa fa-angle-down"></i></span>
          <ul class="collapse" id="about" class="collapse" aria-labelledby="about" ng-class="{in:$state.includes('app.lc.about')}">
            <li><a ui-sref="app.lc.about.editor" ui-sref-active="active"><i class="fa fa-plus" data-title="Crear" data-container="body" data-placement="right" bs-tooltip></i> Editar</a></li>
          </ul>
        </li>
        <li class="panel" data-title="Categorías" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle" ng-class="{active:$state.includes('app.lc.categories')}">
          <span data-toggle="collapse" data-parent="#accordion" data-target="#categories" aria-expanded="true" aria-controls="categories" ng-class="{collapsed:$state.includes('app.lc.categories')}"><div class="img-link"><i class="fa fa-th-list"></i></div>Categorías<i class="fa fa-angle-down"></i></span>
          <ul class="collapse" id="categories" class="collapse" aria-labelledby="categories" ng-class="{in:$state.includes('app.lc.categories')}">
            <li><a ui-sref="app.lc.categories.list" ui-sref-active="active"><i class="fa fa-list" data-title="Lista" data-container="body" data-placement="right" bs-tooltip></i> Lista</a></li>
            <li><a ui-sref="app.lc.categories.create" ui-sref-active="active"><i class="fa fa-plus" data-title="Crear" data-container="body" data-placement="right" bs-tooltip></i> Crear</a></li>
          </ul>
        </li>
        <li class="panel" data-title="Subcategorías" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle" ng-class="{active:$state.includes('app.lc.subcategories')}">
          <span data-toggle="collapse" data-parent="#accordion" data-target="#subcategories" aria-expanded="true" aria-controls="subcategories" ng-class="{collapsed:$state.includes('app.lc.subcategories')}"><div class="img-link"><i class="fa fa-th-list"></i></div>Subcategorías<i class="fa fa-angle-down"></i></span>
          <ul class="collapse" id="subcategories" class="collapse" aria-labelledby="subcategories" ng-class="{in:$state.includes('app.lc.subcategories')}">
            <li><a ui-sref="app.lc.subcategories.list" ui-sref-active="active"><i class="fa fa-list" data-title="Lista" data-container="body" data-placement="right" bs-tooltip></i> Lista</a></li>
            <li><a ui-sref="app.lc.subcategories.create" ui-sref-active="active"><i class="fa fa-plus" data-title="Crear" data-container="body" data-placement="right" bs-tooltip></i> Crear</a></li>
          </ul>
        </li>
        <li class="panel" data-title="Marcas" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle" ng-class="{active:$state.includes('app.lc.brands')}">
          <span data-toggle="collapse" data-parent="#accordion" data-target="#brands" aria-expanded="true" aria-controls="brands" ng-class="{collapsed:$state.includes('app.lc.brands')}"><div class="img-link"><i class="fa fa-tag"></i></div>Marcas<i class="fa fa-angle-down"></i></span>
          <ul class="collapse" id="brands" class="collapse" aria-labelledby="brands" ng-class="{in:$state.includes('app.lc.brands')}">
            <li><a ui-sref="app.lc.brands.list" ui-sref-active="active"><i class="fa fa-list" data-title="Lista" data-container="body" data-placement="right" bs-tooltip></i> Lista</a></li>
            <li><a ui-sref="app.lc.brands.create" ui-sref-active="active"><i class="fa fa-plus" data-title="Crear" data-container="body" data-placement="right" bs-tooltip></i> Crear</a></li>
          </ul>
        </li>
        <li class="panel" data-title="Proveedores" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle" ng-class="{active:$state.includes('app.lc.vendors')}">
          <span data-toggle="collapse" data-parent="#accordion" data-target="#vendors" aria-expanded="true" aria-controls="vendors" ng-class="{collapsed:$state.includes('app.lc.vendors')}"><div class="img-link"><i class="fa fa-group"></i></div>Proveedores<i class="fa fa-angle-down"></i></span>
          <ul class="collapse" id="vendors" class="collapse" aria-labelledby="vendors" ng-class="{in:$state.includes('app.lc.vendors')}">
            <li><a ui-sref="app.lc.vendors.list" ui-sref-active="active"><i class="fa fa-list" data-title="Lista" data-container="body" data-placement="right" bs-tooltip></i> Lista</a></li>
            <li><a ui-sref="app.lc.vendors.create" ui-sref-active="active"><i class="fa fa-plus" data-title="Crear" data-container="body" data-placement="right" bs-tooltip></i> Crear</a></li>
          </ul>
        </li>
        <li class="panel" data-title="Usuarios" data-container="body" data-placement="right" bs-tooltip bs-enabled="master.toggle" ng-class="{active:$state.includes('app.lc.users')}">
          <span data-toggle="collapse" data-parent="#accordion" data-target="#users" aria-expanded="true" aria-controls="users" ng-class="{collapsed:$state.includes('app.lc.users')}"><div class="img-link"><i class="fa fa-group"></i></div>Usuarios<i class="fa fa-angle-down"></i></span>
          <ul class="collapse" id="users" class="collapse" aria-labelledby="users" ng-class="{in:$state.includes('app.lc.users')}">
            <li><a ui-sref="app.lc.users.list" ui-sref-active="active"><i class="fa fa-list" data-title="Lista" data-container="body" data-placement="right" bs-tooltip></i> Lista</a></li>
            <li><a ui-sref="app.lc.users.create" ui-sref-active="active"><i class="fa fa-plus" data-title="Crear" data-container="body" data-placement="right" bs-tooltip></i> Crear</a></li>
          </ul>
        </li>

        <li class="panel" style="border:none">
          <div class="sidebar-footer">
            <div class="col-xs-12">
              <a ng-click="master.logOut();">
                Salir <i class="fa fa-sign-out"></i>
              </a>
            </div>
          </div>
        </li>

      </div><!-- /#accordion -->

    </perfect-scrollbar>

  </ul>
</nav>
